body{
    background-color: #fafafa;
    font-family: "Open Sans", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑" , sans-serif;
}
.navbar-static-top{
    margin-bottom: 0;
    background-color: #fff;
}
.nav.navbar-top-links a{
    padding: 12px 15px;
    min-height: auto;
    font-weight: 400;
    font-size: 13px;
    color: #666;
}
.navbar-top-links li.credit-amount{
    vertical-align: middle;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}
.navbar-top-links li:last-child{
    margin-right: 20px;
}
.credit-tab .credit-label{
    display: block;
    font-size: 10px;
    text-transform: uppercase;
}

#side-menu li.nav-header{
    background: url(patterns/side-header.png) #fff;
    padding: 11px 10px;
    border-bottom: 1px solid #eee;
}
.nav-header a {
    color: #2c2c2c;
}
#side-menu li.nav-header .logo{
    height: 100px;
}
.logo-element{
    padding: 3px;
}
.logo-element .logo-small{
    height: 40px;
}
#side-menu li a{
    color: #888;
}
#side-menu li.active > a{
    color: #00aaf5;
    /*background-color: #00aaf5;*/
}
#side-menu li a img{
    margin-right: 5px;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus{
    background-color: #fff;
    color: #2c2c2c;
}
#side-menu li.active{
    border-left: 0;
    background: #fff;
    box-shadow: 0 0 5px #eee;
}
.nav-second-level li a{
    padding: 8px 20px 8px 58px;
}
.nav-third-level li a{
    padding: 8px 20px 8px 80px;
}
#side-menu li .nav-second-level li a:hover,
#side-menu li .nav-second-level li a:focus{
    color: #2c2c2c;
    background-color: transparent;
}

.mini-navbar .nav-second-level{
    background-color: #fff;
    min-width: 180px!important;
    -webkit-box-shadow: 2px 0 5px #ccc;
    box-shadow: 2px 0 5px #ccc;
}

@media (max-width: 770px) {
    .nav.navbar-top-links li.dropdown {
        display: inline-block;
    }

    .navbar-top-links li a {
        padding: 20px 5px;
        min-height: 50px;
    }

    .mhidden {
        display: none;
    }

    .navbar-right {
        float: right !important;
        margin-right: 0px;
    }

    .navbar-top-links .dropdown-messages {
        margin-left: -65px;
        width: auto;
    }

    .dropdown-messages li a, .dropdown-alerts li a {
        font-size: 12px !important;
        margin: 0;
        padding: 0 !important;

    }

    #side-menu li .nav-second-level li a{
        font-size: 13px;
        padding: 5px 10px;
    }

    .textsize {
        font-size: 16px !important;
    }
}
@media (min-width: 770px) {
    #page-wrapper{
        border-left: 1px solid #eee;
    }
    .dhidden {
        display: none!important;
    }
    .nav.navbar-top-links a i{
        font-size: 15px;
        width: 30px;
        color: #fff;
        background: #00aaf5;
        height: 30px;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
    }
}

.textsize {
    font-size: 19px;
    padding: 10px;
    font-weight: 500;
}

.nolinkcolor {
    text-decoration: none !important;
    color: inherit !important;
}

.ibox-title-filter {
    background-color: #e7eaec !important;
    border-color: #1ab394 !important;
}

.ibox-content-filter {
    background-color: #f9f9f9 !important;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 10000;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

.img-md {
    width: 102px !important;
    height: 102px !important;
}

.tabs-container {
    margin: 0 15px 20px !important;
}

.btn.minimalize-styl-2{
    background-color: #00aaf5;
    border: 0;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px 0;
    margin-top: 16px;
}

@media only screen and (max-width: 768px){
    body.mini-navbar #page-wrapper{
        margin: 0;
        -webkit-transform: translateX(70px);
        transform: translateX(70px);
    }
    .nav.navbar-top-links a{
        font-size: 20px;
        padding: 12px 10px;
    }
}

@media only screen and (max-width: 480px){
    .btn.minimalize-styl-2{
        margin: 14px 5px 5px 10px;
    }
    .credit-amount a{
        padding-left: 0;
    }
    .credit-tab img{
        width: 25px;
    }
    .textsize{
        padding-right: 0;
    }
}

.active2 {
    background-color: green !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.text-middle {
    vertical-align: middle !important;
}

.no-spacing {
    margin:0px !important;
    padding:0px !important;
}

.text-noresize {
    resize: none !important;
    overflow: hidden !important;
}

#myModal  > .modal-dialog
{
   width: 725px !important;
}

.table-bordered-custom > thead > tr > th, .table-bordered-custom > tbody > tr > th, .table-bordered-custom > tfoot > tr > th, .table-bordered-custom > thead > tr > td, .table-bordered-custom > tbody > tr > td, .table-bordered-custom > tfoot > tr > td {
    border: 1px solid #737373;
    padding: 3px 8px 3px !important;
}

/* Chat */
.notice {
    -webkit-animation: blink 1s step-end infinite;
            animation: blink 1s step-end infinite;
}
@-webkit-keyframes blink { 50% { visibility: hidden; }}
        @keyframes blink { 50% { visibility: hidden; }}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.pd-sm {
    padding: 15px;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
}

.chat-container.single .chat-item {
    display: block;
}
.chat-item-top {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.chat-item-top .form-inline { position: relative; }
.chat-item-top .form-inline > a {
    position: absolute;
    right: 1px;
    background-color: #ffffff;
    padding: 3px 6px;
    border-radius: .25rem;
    display: flex;
    align-items: center;
}
.chat-item-top .form-inline a:hover {
    transition: none;
    border: none;
    text-decoration: none;
}
.chat-item-top .form-inline a i {
    display: inline-block;
    vertical-align: middle;
}
.chat-item-top .form-inline input {
    font-size: .75rem;
}
.chat-item-top .chat-image{
    display: inline-block;
	vertical-align: middle;
}
.chat-item-top .product {
	text-align: center;
    margin-top: -80px;
    position: relative;
}
.chat-item-top .product h4 {
    display: inline-block;
    font-weight: normal;
    margin: 0;
}
.chat-item-top .product .chat-image{
	display: block;
	margin: 0 auto;
}
.chat-item-top .product a {
    width: inherit;
	display: inline-block;
}
.chat-item-top .product a:hover {
	display: inline-block;
    text-decoration: underline;
}
.chat-item-top #connection {
    visibility: hidden;
}
@media only screen and (max-width:1024px){
	.chat-item-top .product { 
		margin-top: 0;
		border-top: 1px solid #e6e6e6;
		margin: 5px -15px -15px;
		padding: 8px 20px;
		text-align: left;
	}
	.chat-item-top .product .chat-image{ display: inline-block; }
}
.chat-item a:hover { text-decoration: none; background-color: #f2f2f2; }
.chat-image.xs {
    height: 50px;
    width: 50px;
}
.chat-item {
    /* display: flex; */
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    position: relative;
}
.collapse + .chat-item { border-top: 1px solid rgba(0,0,0,0.15); }
.chat-item + .chat-item { border-top: 1px solid rgba(0,0,0,0.1); }
.chat-item a { width:100%; color: inherit; }
.chat-item a:hover { text-decoration: none; background-color: #f2f2f2; }
.chat-image {
	position: relative;
    height: 80px;
    width: 80px;
    margin-right: 10px;
    border-radius: 80px;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    background-color: #ffffff;
}
.chat-image.sub-image {
    margin-left: 30px;
}
.chat-image.sub-sub-image {
    margin-left: 50px;
}
.chat-image img {
	position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.chat-product-box { display: inline-block; vertical-align: middle;}
.chat-title { margin-bottom: 3px; margin-top: 5px; }
.chat-item .notice { position: absolute; right: 15px; top: 15px; width: 10px; height: 10px; background-color: #ff1818; border-radius: 10px; }
.chat-text { font-size: 1em; margin-bottom: 5px; line-height: 1.25; color: #444; margin-top: 5px; }
    .chat-item-body {
    height: 550px;
    min-height: 550px;
    max-height: 550px;
    overflow-y: scroll;
    background-color: #fafafa;
}
.chat-item-body ul{
	list-style: none;
	padding: 20px;
	margin: 0;
}
.chat-item-body ul li.chat-left{
	position: relative;
	float: left;
	width: 100%;
}
.chat-item-body ul li.chat-right{
	position: relative;
	float: right;
	width: 100%;
	text-align: right;
}
.chat-item-body ul li.chat-left:before{
	content: "";
    height: 15px;
    width: 15px;
    display: block;
    position: absolute;
    left: -8px;
    top: 12px;
    background: #FFF;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.15);
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.chat-item-body ul li.chat-right:before{
	content: "";
    height: 15px;
    width: 15px;
    display: block;
    position: absolute;
    right: -8px;
    top: 12px;
    background: #FFF;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.15);
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.chat-item-body ul li .chat-inner{
	position:relative;
	background-color: #FFF;
	border-radius: 4px;
	margin-bottom: 15px;
	padding: 10px 15px;
	max-width: 80%;
	display: inline-block;
	text-align: left;
}
.chat-item-body ul li.chat-left .chat-inner{
	-webkit-box-shadow: 4px 0 8px rgba(0,0,0,0.3);
	box-shadow: 4px 0 8px rgba(0,0,0,0.3);
}
.chat-item-body ul li.chat-right .chat-inner{
	-webkit-box-shadow: -4px 0 8px rgba(0,0,0,0.3);
	box-shadow: -4px 0 8px rgba(0,0,0,0.3);
}
.chat-item-body ul li p{
	margin: 0;
	font-size: 15px;
	display: inline-block;
    margin-right: 3px;
}
.chat-item-body ul li .date{
    font-size: .8em;
    font-style: italic;
    margin-bottom: 0;
    color: #858585;
}
.chat-item-bottom {
    border-top: 1px solid rgba(0,0,0,0.1);
}
.chat-item-bottom textarea {
    margin-right: 15px;
    border-radius: .25rem;
    padding: 5px .75rem;
    overflow: hidden;
    resize: none;
    flex-grow: 1 !important;
}
.chat-item-bottom button i {
    font-size: 1rem;
    margin-left: .25rem;
}
.info {
    font-size: 1em;
    margin-bottom: 0;
    line-height: 1.25;
    color: #858585;
    font-weight: 600;
}
/* End Chat */

/* Toggle Button */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* End Toggle Button */