html,
body{
	width: 100%;
	height: 100%;
	margin: 0;
}

.admin-login-container,
.merchant-login-container{
	width: 100%;
	min-height: 100%;
	background-color: #f8f8f8;
	padding: 3% 0 0;
}
.admin-login-container .panel-login,
.merchant-login-container .panel-login{
	background-color: #FFF;
	border-radius: 4px;
	border: 1px solid #DEE2E6;
	max-width: 450px;
	margin: 0 auto;
}
.admin-login-container .panel-login .brand,
.merchant-login-container .panel-login .brand{
	text-align: center;
	padding: 20px 0 10px;
}
.admin-login-container .panel-login .panel-title,
.merchant-login-container .panel-login .panel-title{
	padding: 0px 0px 15px;
	margin: 0 40px;
	text-align: center;
    font-weight: bold;
	color: #4a4a4a;
	border-bottom: 1px solid #dcdcdc;
}
.merchant-login-container .panel-login .panel-title.selection{
	padding: 0px;
}
.merchant-login-container .panel-login .panel-title.selection ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.merchant-login-container .panel-login .panel-title.selection ul li{
	display: inline-block;
	width: 50%;
	margin-right: -4px;
}
.merchant-login-container .panel-login .panel-title.selection ul li a{
	position: relative;
	display: block;
	color: #4a4a4a;
	opacity: 0.3;
	padding: 15px 0;
	font-size: 14px;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.merchant-login-container .panel-login .panel-title.selection ul li.active a,
.merchant-login-container .panel-login .panel-title.selection ul li a:hover{
	opacity: 1;
	text-decoration: none;
}
.merchant-login-container .panel-login .panel-title.selection ul li.active a:after{
	content:"";
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: -1px;
	left: 0;
    background-color: #ff1818;
}

.admin-login-container .panel-login .form-container,
.merchant-login-container .panel-login .form-container{
	padding: 10px 40px 30px;
}
.admin-login-container .panel-login .form-container .form-group .control-label,
.merchant-login-container .panel-login .form-container .form-group .control-label{
	margin-bottom: 0;
	font-size: 13px;
	font-weight: bold;
	color: #000;
    margin-bottom: 8px;
}
.admin-login-container .panel-login .form-container .form-group .form-control,
.merchant-login-container .panel-login .form-container .form-group .form-control{
	width: 100%;
	display: block;
	height: 45px;
	border: 1px solid #aaa;
	padding: 10px 15px;
	background-color: #fff;
	border-radius: 0px;
	font-size: 15px;
	color: #000;
}
.admin-login-container .panel-login .form-container .form-group.has-error .form-control,
.merchant-login-container .panel-login .form-container .form-group.has-error .form-control{
    border-color: #ff1818;
}
.admin-login-container .panel-login .form-container .form-group .help-block,
.merchant-login-container .panel-login .form-container .form-group .help-block{
	font-size: 13px;
}
.admin-login-container .panel-login .form-container .form-group.has-error .help-block,
.merchant-login-container .panel-login .form-container .form-group.has-error .help-block{
    font-size: 13px;
    color: #ff1818;
}
.admin-login-container .panel-login .form-container .form-group .captcha-img{
	position: absolute;
	right: 1px;
	top: 1px;
    height: 43px;
}
.admin-login-container .panel-login .form-container .form-group .captcha{
	width: 50%;
	margin: 10px auto;
}
.admin-login-container .panel-login .form-container .form-group .captcha img{
	width: 100%;
}
.admin-login-container .panel-login .form-container .action,
.merchant-login-container .panel-login .form-container .action{
	padding-top: 15px;
	text-align: center;
}
.admin-login-container .panel-login .form-container .action .btn,
.merchant-login-container .panel-login .form-container .action .btn{
	width: 100%;
	padding: 12px 10px;
	text-transform: uppercase;
}
.merchant-login-container .panel-login .form-container .btn-forget{
    font-size: 14px;
	display: block;
	color: #4a4a4a;
	text-align: center;
	margin-top: 15px;
}
.merchant-login-container .panel-login .form-container .btn-forget:hover{
    text-decoration: none;
}

.input-container{
	position: relative;
}

.btn-primary{
	background-color: #ff1818;
	border-color: #ff1818;
}
.btn-primary:hover{
	opacity: 0.9;
	background-color: #ff1818;
	border-color: #ff1818;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle{
	background-color: #dc1414;
	border-color: #dc1414;
}

@media only screen and (max-width:1024px) and (max-height:1366px){
	.admin-login-container .panel-login,
	.merchant-login-container .panel-login{ max-width: 600px; }
}
@media only screen and (max-width:767px){
	.admin-login-container .panel-login,
	.merchant-login-container .panel-login{ max-width: 90%; }
}
@media only screen and (max-width:576px){
	.admin-login-container,
	.merchant-login-container{ padding: 5% 0; }
	.admin-login-container .panel-login .panel-title { padding: 0 0 15px; margin: 0 20px; }
	.merchant-login-container .panel-login .panel-title {  margin: 0; }
	.merchant-login-container .panel-login .panel-title ul li a{ font-size: 13px; }
	.admin-login-container .panel-login .form-container,
	.merchant-login-container .panel-login .form-container { padding: 10px 20px 30px; }
	.admin-login-container .panel-login .form-container .form-group .captcha,
	.merchant-login-container .panel-login .form-container .form-group .captcha{ width: 100%; }
}