.login-container { width: 450px; text-align: center; margin: 100px auto;}
.login-container .content-box{ width: 100%; }
.login-container form { background-color: #ffffff; border: 1px solid rgba(0,0,0,0.2); border-radius: .25rem; }
.logo-container img { width: 140px; height: auto; padding: 20px 0 40px; }

/* ===
FORGET PASSWORD
=== */
.login-container.forgot-password { width: 450px; }
.login-container.forgot-password .content-box { width: 100%; }

/* ===
ONE TIME PASSWORD
=== */
.login-container.otp { width: 450px; }
.login-container.otp .content-box { width: 100%; }
.confirmation-code {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    margin: 0 auto;
}
.code {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0 2.5px;
    padding-bottom: 20px;
    border: 1px solid transparent;
    margin-top: 30px;
    margin-bottom: 15px;
}
.digit {
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 42px;
    font-weight: normal;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #777;
    outline: none;
}

.form-group label { font-size: .85rem; font-weight: bold; }
.form-group label.rmb { font-weight: normal; }
.custom-input input {
    font-size: .85rem;
    padding: .75rem 1rem;
    width: 100%;
    border: 0.5px solid black;
}
.btn-login { width: 100%; background-color: #ff1818; color: #ffffff; padding: 12px; }

.social-login a+a { margin-left: 5px; }
.btn-ph { color: #ffffff; background-color: #00B818; padding: 12px; }
.btn-fb { color: #ffffff; background-color: #3B5998; padding: 12px; }
.btn-gp { color: #ffffff; background-color: #dd4b39; padding: 12px; }
.btn-login:hover, .btn-fb:hover,.btn-ph:hover,.btn-gp:hover { color: rgba(255,255,255,0.7);}
.btn-forget{ display:block; text-align: center; color: #444; font-size: 14px;}

.info { font-size: .85rem; color: #444444; }
.signup { color: #0099ff; }

@media only screen and (max-width:992px){
	.login-container { width: 80%; display: block;}
	.login-container .content-box { width: 100%; margin-bottom: 25px;}
}
@media only screen and (max-width:480px){
	.login-container { width: 100%; margin: 0;}
	.confirmation-code{ width: 100%;}
}