/*===========================================*/
/*===========================================*/
/* CSS STYLE FOR ACCOUNT DASHBOARD PAGE ONLY */
/*===========================================*/
/*===========================================*/

.account-dashboard-container { flex-direction: column; }
@media (min-width: 768px) {
    .account-dashboard-container {
        flex-direction: row;
    }
    .sidebar-container {
        width: 24%;
        background-color: #f5f5f5;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }
    .main-content-container {
        width: 76%;
        /* background-color: #f8f8f8; */
        padding-left: 1.5rem;
    }
}
.title-box { padding: 15px; background-color: transparent; }
.user-logo-frame {
    overflow: hidden;
	position: relative;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 2px solid rgba(0,0,0,0.2);
    text-align: center;
    overflow: hidden;
    background-color: #fff;
}
.user-logo-frame .user-image {
	position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.user-name { margin: 0 10px; }
.menu-box { padding: 0; }
.menu-box a:hover { text-decoration: none; }
.list-group-item { padding: 0; border-color: transparent; }
.list-group-item a { display: block; padding: .75rem 1.25rem; }
.list-group-item[selected] > a { font-weight: 700; }
/* .menu-box > ul > li > a > span { border-left: 20px solid #ff1818; padding-left: 10px; color: #444; } */
.menu-box > ul > li > a { background-color: transparent; color: #444; text-transform: uppercase;font-weight: bold; border-top: 1px solid #e5e5e5; }
.menu-box > ul > li > a:hover { background-color: #9e9e9e; color: #fff; }
ul.sub-list > li > a { background-color: transparent; color: #444; font-size: .85rem; }
/* ul.sub-list > li > a:hover { background-color: #555555; } */
ul.sub-list > li > a > span { border-left: 15px solid transparent; padding-left: 10px; }
ul.sub-list > li > a.active > span { border-color: #ff1818; color: #ff1818; font-weight: 700;}
ul.sub-list > li > a:hover > span { color: #ff1818; }
.menu-box > ul > li.logout > a { color: #ff1818;}
.menu-box > ul > li.logout:hover > a { background-color: #ff1818; color: #fff; }


@media only screen and (max-width:767px){
	.title-box{ background-color: #fff; }
	.title-box:after{ content: ""; border-top: .3em solid; border-right: .2em solid transparent; border-bottom: 0; border-left: .2em solid transparent; float: right; margin: 10px 5px; }

	.user-logo-frame { width: 50px; height: 50px;}
	.sidebar-container{ margin-bottom: 20px; }
	.sidebar-container .menu-box{ display: none; }
}

/* FAVOURITE */
/* ========= */
.add-all { color: #444; display: flex; background-color: #ffffff; border: 1px solid rgba(0,0,0,0.1); }
.add-all:hover { text-decoration: none; background-color: #ffb300; color: #ffffff; }
.item-container .card-old-price {
    font-size: .7rem;
    color: #444;
    text-decoration: line-through;
    width: 100%;
    margin-bottom: 0;
}
.add-to-cart {
    width: 100%;
    display: flex;
    align-items: center;
    color: #858585;
    padding: .3rem 0;
    justify-content: center;
    border-radius: .25rem;
    margin-top: .25rem;
    background-color: #ddd;
}
.add-to-cart > i { font-size: 1.2rem; }
.add-to-cart:hover { color: #ffffff; background-color: #ffb300; text-decoration: none; }

.item-merchant {
    display: flex;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
    flex-direction: column;
    background-color: #ffffff;
}
.item-merchant + .item-merchant { margin-top: 15px; }
.item-merchant-top { align-items: center; display: flex;}
.item-merchant-top a { color: inherit; }
.item-merchant-top a:hover { text-decoration: none; }
.item-merchant-top h6:hover { color: #ff1818; }
.item-merchant-top .btn { border: 1px solid #e6e6e6; font-size: 13px; font-weight: 600;}
.item-merchant-top .btn:hover { background-color: #ff1818; color: #ffffff; }
.item-merchant-logo { height: 24px; width: auto; margin-right: 10px; }
.item-merchant-title { margin-bottom: 3px; margin-top: 5px; }
.item-merchant .card-rating > i { font-size: .5rem; line-height: 1.5; vertical-align: top; }
.item-merchant-bottom { margin-top: 15px; }
.item-merchant-bottom .merchant-product {display: inline-block; width: 20%; margin-right: -4px; }
.item-merchant-bottom .merchant-product > a { color: inherit; }
.item-merchant-bottom .merchant-product > a:hover { text-decoration: none; }
.item-merchant-bottom .merchant-product img { width: 80px; height: auto; }
.merchant-product-price { margin-top: 12px; font-size: .85rem; font-weight: 600; margin-bottom: 0; }
.merchant-product-discount { font-size: .65rem; color: #ff1818; font-weight: 600; }

@media only screen and (max-width:576px){
	.item-merchant-bottom .merchant-product {display: inline-block; width: 50%;  }
	.item-merchant-bottom .merchant-product:nth-child(5) {display: none;  }
}

.form-action{ padding-top: 10px; text-align: right;}
.form-action .btn{ font-size: 13px; font-weight: 500; }
.form-action .btn i{ font-size: 16px; position: relative; top: 2px; margin-left: 5px; }

.account-titlebar h5 { margin-bottom: 0; margin-right: 15px; }
.account-titlebar a { font-size: .85rem; display: flex; align-items: center; color: #FFF!important; }
.account-titlebar a i.material-icons { font-size: .85rem; margin-left: 5px; }

.sub-heading{ font-size: 14px; color: #8a8a8a; font-weight: 600; margin: 15px 0 5px;}

.overview-list{
	border: 1px solid rgba(0,0,0,0.2);
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin-bottom: .5rem;
    position: relative;
}
.overview-list .list-image{ margin: 0px 15px; width: 50px; }
.overview-list .list-content{ display: inline-block; font-weight: 500; font-size: 14px; }
.overview-list .list-action{  margin: 10px -0.75rem -0.375rem; padding: 4px 30px 8px; border-top: 1px solid #e6e6e6; text-align: right;}
.overview-list .list-action a{  color: #444; font-size: 13px; font-weight: 500;}
.overview-list .list-action a i{  font-size: 16px; color: #F50006; position: relative; top: 3px;}

@media only screen and (max-width:576px){
	.overview-list .list-image{ margin: 0 15px 0 0 ; }
}

/* NOTIFICATION */
/* ============= */
.info { font-size: .8rem; margin-bottom: 0; line-height: 1.4; color: #858585; }
.notification {
	position: relative;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
    align-items: center;
    background-color: #ffffff;
}
.notification + .notification { margin-top: 15px; }
.notification a { color: inherit; }
.notification a:hover { text-decoration: none; }
.notification h6:hover { color: #ff1818; }
.notification .btn {
	position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -20px;
    border: 1px solid #ff1818;
    color: #FF1818;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 25px;
}
.notification .btn:hover { background-color: #ff1818; color: #ffffff; }
.notification-image { height: 80px; width: auto; margin-right: 10px; }
.notification-image-promo { height: 120px; width: auto; margin-right: 10px; }
.notification-title { margin-bottom: 3px; margin-top: 5px; }
.notification-text { font-size: .85rem; margin-bottom: 0; line-height: 1.25; color: #444; margin-top: 5px; }
.notification-date { font-size: .7rem; font-style: italic; margin-bottom: 0; color: #858585; }
.notice {
    -webkit-animation: blink 1s step-end infinite;
            animation: blink 1s step-end infinite;
}
.notification .thumb{
	width: 20%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.notification .thumb:after{
   display: block;
   content: "";
   padding-bottom: 60%;
}
.notification .thumb img{
	margin-right: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    /* -webkit-transform: translate(-50%,-50%); */
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.notification .notification-content{
    width: 60%;
	display: inline-block;
	vertical-align: top;
}
@-webkit-keyframes blink { 50% { visibility: hidden; }}
        @keyframes blink { 50% { visibility: hidden; }}
@media only screen and (max-width:1200px){
    .notification .notification-content{
        width: 50%;
    }
}
@media only screen and (max-width:600px){
    .notification .thumb{
        width: 50%;
        margin: 0 auto;
        display: block;
    }
    .notification .notification-content{
        width: 100%;
        text-align: center;
        margin-top: 5px;
    }
    .notification {
        text-align: center;
    }
    .notification .btn{
        position: static;
        margin-top: 10px;
    }
}
@media only screen and (max-width:480px){
    .notification .thumb{
        width: 80%;
    }
}
/* PROMOTION */
/* ========= */
.notification .btn:hover { background-color: #ff1818; color: #ffffff; }
.promo-title { margin-bottom: 3px; margin-top: 5px; }
.promo-text { font-size: .85rem; margin-bottom: 0; text-align: justify; color: #444; margin-top: 5px; }
.promo-date { font-size: .7rem; font-style: italic; margin-bottom: 0; color: #858585; }

/* CHAT LIST */
/* ========== */
.top-box .form-inline { position: relative; }
.top-box .form-inline > a {
    position: absolute;
    right: 1px;
    top: 1px;
    background-color: #ffffff;
    padding: 3px 6px;
    border-radius: .25rem;
    display: flex;
    align-items: center;
}
.top-box .form-inline a:hover {
    transition: none;
    border: none;
    text-decoration: none;
}
.top-box .form-inline a i {
    display: inline-block;
    vertical-align: middle;
}
.top-box .form-inline input {
    font-size: .75rem;
}
.info { font-size: .8rem; margin-bottom: 0; line-height: 1.25; color: #858585; }
.chat-item {
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    position: relative;
}
.collapse + .chat-item { border-top: 1px solid rgba(0,0,0,0.15); }
.chat-item + .chat-item { border-top: 1px solid rgba(0,0,0,0.1); }
.chat-item a { width:100%; color: inherit; }
.chat-item a:hover { text-decoration: none; background-color: #f2f2f2; }
.chat-image {
	position: relative;
    height: 80px;
    width: 80px;
    margin-right: 10px;
    border-radius: 80px;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    background-color: #ffffff;
}
.chat-image.sub-image {
    margin-left: 30px;
}
.chat-image img {
	position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.chat-title { margin-top: 0px; margin-bottom: 3px; }
.chat-item .notice { position: absolute; right: 15px; top: 15px; width: 10px; height: 10px; background-color: #ff1818; border-radius: 10px; }
.chat-text { font-size: .85rem; margin-bottom: 5px; line-height: 1.25; color: #444; margin-top: 5px; }
@media only screen and (max-width:576px){
	.top-box .form-inline{display:none}
}

/* SINGLE CHAT */
/* ========== */
.chat-container.single .chat-item{ display: block;}
.info { font-size: .8rem; margin-bottom: 0; line-height: 1.25; color: #858585; }
.chat-item-top {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.chat-item-top .form-inline { position: relative; }
.chat-item-top .form-inline > a {
    position: absolute;
    right: 1px;
    /* top: 1px; */
    background-color: #ffffff;
    padding: 3px 6px;
    border-radius: .25rem;
    display: flex;
    align-items: center;
}
.chat-item-top .form-inline a:hover {
    transition: none;
    border: none;
    text-decoration: none;
}
.chat-item-top .form-inline a i {
    display: inline-block;
    vertical-align: middle;
}
.chat-item-top .form-inline input {
    font-size: .75rem;
}
.chat-item-top #connection {
    font-size: .6em;
    margin: 2px 0 0;
    visibility: hidden;
}
.chat-item a:hover { text-decoration: none; background-color: #f2f2f2; }
.chat-image.xs {
    height: 50px;
    width: 50px;
}

.chat-item-body {
    height: 550px;
    min-height: 550px;
    max-height: 550px;
    overflow-y: scroll;
    background-color: #f2f2f2;
}
.chat-item-body ul{
	list-style: none;
	padding: 20px;
	margin: 0;
}
.chat-item-body ul li.chat-left{
	position: relative;
	float: left;
	width: 100%;
}
.chat-item-body ul li.chat-right{
	position: relative;
	float: right;
	width: 100%;
	text-align: right;
}
.chat-item-body ul li.chat-left:before{
	content: "";
    height: 15px;
    width: 15px;
    display: block;
    position: absolute;
    left: -8px;
    top: 12px;
    background: #FFF;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.15);
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.chat-item-body ul li.chat-right:before{
	content: "";
    height: 15px;
    width: 15px;
    display: block;
    position: absolute;
    right: -8px;
    top: 12px;
    background: #FFF;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.15);
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.chat-item-body ul li .chat-inner{
	position:relative;
	background-color: #FFF;
	border-radius: 4px;
	margin-bottom: 15px;
	padding: 10px 15px;
	max-width: 80%;
	display: inline-block;
	text-align: left;
}
.chat-item-body ul li.chat-left .chat-inner{
	-webkit-box-shadow: 4px 0 8px rgba(0,0,0,0.3);
	box-shadow: 4px 0 8px rgba(0,0,0,0.3);
}
.chat-item-body ul li.chat-right .chat-inner{
	-webkit-box-shadow: -4px 0 8px rgba(0,0,0,0.3);
	box-shadow: -4px 0 8px rgba(0,0,0,0.3);
}
.chat-item-body ul li p{
	margin: 0;
	font-size: 15px;
	display: inline-block;
    margin-right: 3px;
}
.chat-item-body ul li .date{
    font-size: .7rem;
    font-style: italic;
    margin-bottom: 0;
    color: #858585;
}

.chat-item-bottom { border-top: 1px solid rgba(0,0,0,0.1); }
.chat-item-bottom textarea { margin-right: 15px; border-radius: .25rem; padding: 5px .75rem;overflow: hidden;resize:none; }
.chat-item-bottom button { display: flex; align-items: center; min-width: 80px; }
.chat-item-bottom button i { font-size: 1rem; margin-left: .25rem;position: relative;top: 2px; }

@media only screen and (max-width:480px){
	.chat-item-body ul li .chat-inner{
		max-width: 90%;
	}
}

/* ORDER & SCHEDULE HISTORY */
.order-item {
    padding: 10px 15px;
    border: 1px solid #dcdcdc;
    border-radius: .25rem;
    background-color: #ffffff;
}
.order-item + .order-item { margin-top: 15px; }
.top-layer { display: flex; justify-content: space-between; align-items: center;padding-bottom: 8px; border-bottom: 1px solid #e6e6e6;  }
.top-layer p { font-size: .85rem; color: #858585; margin-bottom: 0; }
.top-layer p .btn { border: 1px solid #e6e6e6; }
.order-id { font-weight: bold; }
.order-item a { color: inherit; }
.order-item a:hover { text-decoration: none; }
.order-item h6:hover { color: #ff1818; }
.order-item .btn:hover { background-color: #ff1818; color: #ffffff; }
a.btn-detail { font-size: .85rem; border-radius: 0; background-color: transparent; border: 1px solid rgba(0,0,0,0.4); color: #444444; }
a.btn-detail:hover { background-color: #ff1818; color: #ffffff; border-color: #ff1818; }
.product-layer { position: relative;display: flex; padding: 15px 10px; padding-top: 20px; }
.product-layer .inner{ width: 75%; }
.product-layer + .product-layer { border-top: 1px solid #ddd; }
.product-layer .thumb { position: relative; width:30%; overflow: hidden; display: inline-block;; }
.product-layer .thumb:after { content: ""; display: block; padding-bottom: 60%; }
.product-layer .thumb img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.product-content-box { max-width: 70%; }
.product-image { height: 80px; width: auto; margin-right: 10px; }
.product-title { margin-bottom: 10px; margin-top: 5px; }
.progress-status { font-size: .7rem; padding: .3rem .75rem; border-radius: 1rem; border: 1px solid transparent; }
.info { font-size: .8rem; margin-bottom: 0; line-height: 1.4; color: #858585; font-weight: 600; }
.service-info label{font-size: .85rem; font-weight: 600; margin-bottom:0; color: #858585;}
.service-info ul{list-style: none; margin: 0; padding: 0;}
.service-info ul li{ margin-bottom: 5px;}
.service-info ul li:last-child{ margin-bottom: 0;}
.service-info ul li a{font-size: 13px; padding: 8px 15px; border-radius: 6px; background-color: #fafafa; display: flex; justify-content: space-between; border: 1px solid #eee;}
.service-info ul li a:hover{background-color: #eee;}
.service-info ul li .btn{ font-size: 11px; padding: 0; background: transparent; color: #000;}
.service-info ul li .btn:hover,
.service-info ul li:hover .btn{ text-decoration:underline; background: transparent; color: #000;}
.est-delivery { font-size: .85rem; margin-top: 5px; }

.status-red { color: #ff1818; border-color: #ff1818; }
.status-black { color: #444444; border-color: #444444; }
.status-grey { color: #858585; border-color: #858585; }
.status-blue { color: #0099ff; border-color: #0099ff; }
.status-green { color: #00B818; border-color: #00B818; }

.schedule-btn{
	position: absolute;
	bottom: 5px;
    right: 10px;
}
.schedule-btn .btn{
	background-color: #ff1818;
	padding: 4px 10px;
	font-size: 12px;
	color: #FFF;
}
.schedule-btn .btn.status{
	background-color: #fff;
	border: 1px solid #ff1818;
	color: #ff1818;
}

.rate-btns{
    margin-top: 5px;
}
.rate-btns .btn{
    display: inline-block;
    background-color: #Ff0000;
    color: #FFF;
    padding: 4px 15px;
    border-radius: 6px;
    font-size: 12px;
}
@media only screen and (max-width:1200px){
    .product-layer .inner { width: 70%; }
}
@media only screen and (max-width:992px){
	.product-layer{display:block;}
    .product-layer .inner { width: 100%; }
	.schedule-btn{
		position: relative;
		bottom: 0;
		right: 0;
		margin-top: 15px;
		padding-top: 10px;
		border-top: 1px solid #e6e6e6;
		text-align: right;
	}
	.product-layer .text-right{ margin-top:0!important; text-align: left!important;}
}
@media only screen and (max-width:767px){
    .order-item .top-layer { display: block; position: relative; }
    .order-item .top-layer p  { font-size: 12px; }
    .order-item .top-layer p .btn { position: absolute; right: 10px; top: 5px; }
    .order-item .product-layer .product-content{ width: 65%; }
}
@media only screen and (max-width:576px){
    .product-layer{ display: block;}
    .product-layer .thumb{ width: 200px; display: block; margin: 0 auto;}
    .order-item .product-layer .product-content{ width: 100%; margin-left: 0; margin-bottom: 5px; }
	.product-content-box{ max-width: 100%;}
    .order-item .top-layer p .btn { position: static; display: block; margin-top: 5px; }
	.schedule-btn{ text-align: center; }
	.schedule-btn .btn{ margin-bottom: 5px; }
	.schedule-btn .btn:last-child{ margin-bottom: 0px; }
}

/* WALLET */
/* ==========*/
.balance-title { margin-bottom: 15px; }
.transaction-detail-item { border-radius: .25rem; border: 1px solid rgba(0,0,0,0.2); padding: 15px; margin-bottom: 15px; }
.transaction-detail-item + .detail-item { margin-top: 15px; }
.transaction-detail-item label { font-size: .8rem; font-weight: 600; color: #858585; margin-bottom: 5px; }
.transaction-detail-item p { color: #444444; }
.transaction-detail-item .transaction-title { margin-bottom: 0; font-weight: 500; }
.transaction-detail-item .transaction-amount { font-weight: 500; }


/* CAR LIST */
/* ======== */
.car-item { padding: 1rem; border: 1px solid rgba(0,0,0,0.2); border-radius: .5rem; background-color: #ffffff; }
.car-item + .car-item { margin-top: 15px; }
.car-item-detail { padding-left: 25px; }
.car-item-image { width: 240px; }
.car-item-image img { width: 100%; height: auto; }
.car-item-brand { width: auto; height: 50px; }
.car-item-name { margin-bottom: 0; font-weight: 700; font-size: 2rem; }
.car-item-spec, .car-item-year { margin-bottom: 0; }
.car-item-year { font-size: .85rem; font-style: italic; }
.car-item-button button + button { margin-top: 5px; }
.car-item-button .btn { padding: 4px 12px; font-size: .75rem; width: 100px; }
.car-item-button .btn-default { border-color: #00B818; background-color: transparent; color: #00B818; }
.car-item-button .btn-setdefault { border-color: #999999; background-color: transparent; color: #999999; }

/* MODAL */
.fromNew .form-group label,
.fromEdit .form-group label {
    font-size: .75rem;
    margin-bottom: .25rem;
}
.custom-input span {
    width: 17.99%;
    background-color: #ff1818;
    border: 2px solid #ff1818;
    padding: .75rem 0;
    font-size: .9rem;
    text-align: center;
    color: #fff;
}
@media only screen and (max-width:576px){
	.car-item{ flex-direction: column; }
	.car-item .car-item-button { margin-left: 0!important; }
}

/* PROFILE */
/* ======= */
.profile-image {
	position: relative;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50px;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    background-color: #ffffff;
}
.profile-image img {
	position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.form-item p { color: #444444; border: 1px solid #e6e6e6;}


/* MODAL */
.fromNew .form-group label,
.fromEdit .form-group label {
    font-size: .75rem;
    margin-bottom: .25rem;
}
.custom-input input {
    font-size: .75rem;
    padding: .85rem 1rem;
    width: 100%;
}
.custom-input span {
    width: 17.99%;
    background-color: #ff1818;
    border: 2px solid #ff1818;
    padding: .75rem 0;
    font-size: .9rem;
    text-align: center;
    color: #fff;
}
.detail-item .custom-input input { width: 100%; }

/* FAVOURITE */
/* ========== */
.card-body{
	background-color: #FFF;
	border-top: 0;
    padding: 15px 15px 25px;
}
.add-all { color: #444; display: flex; background-color: #ffffff; border: 1px solid rgba(0,0,0,0.1); }
.add-all:hover { text-decoration: none; background-color: #ffb300; color: #ffffff; }
.item-container .card-old-price {
    font-size: .7rem;
    color: #444;
    text-decoration: line-through;
    width: 100%;
    margin-bottom: 0;
}
.add-to-cart {
    width: 100%;
    display: flex;
    align-items: center;
    color: #858585;
    padding: .3rem 0;
    justify-content: center;
    border-radius: .25rem;
    margin-top: .25rem;
    background-color: #ddd;
}
.add-to-cart > i { font-size: 1.2rem; }
.add-to-cart:hover { color: #ffffff; background-color: #ffb300; text-decoration: none; }

.item-merchant {
    display: flex;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
    flex-direction: column;
    background-color: #ffffff;
}
.item-merchant + .item-merchant { margin-top: 15px; }
.item-merchant-top { align-items: center; display: flex;}
.item-merchant-top a { color: inherit; }
.item-merchant-top a:hover { text-decoration: none; }
.item-merchant-top h6:hover { color: #ff1818; }
.item-merchant-top .btn:hover { background-color: #ff1818; color: #ffffff; }
.item-merchant-logo { height: 24px; width: auto; margin-right: 10px; }
.item-merchant-title { margin-bottom: 3px; margin-top: 5px; }
.item-merchant .card-rating > i { font-size: .5rem; line-height: 1.5; vertical-align: top; }
.item-merchant-bottom { margin-top: 15px; }
.merchant-product { margin: 0 auto; text-align: center; }
.merchant-product > a { color: inherit; }
.merchant-product > a:hover { text-decoration: none; }
.merchant-product img { width: 80px; height: auto; }
.merchant-product-price { margin-top: 12px; font-size: .85rem; font-weight: 600; margin-bottom: 0; }
.merchant-product-discount { font-size: .65rem; color: #ff1818; font-weight: 600; }

/* CHANGE PASSWORD */
/* ================ */
.form-item label { font-size: .8rem; font-weight: 600; color: #858585; margin-bottom: 5px; }
.form-item p { color: #444444; padding: 12px 15px; font-size: 13px; font-weight: 600;}

.form-item .custom-input input {
    font-size: .75rem;
    padding: .85rem 1rem;
    width: 100%;
}
.form-item .custom-input span {
    width: 17.99%;
    background-color: #ff1818;
    border: 2px solid #ff1818;
    padding: .75rem 0;
    font-size: .9rem;
    text-align: center;
    color: #fff;
}

/* LANGUAGE */
/* ========= */
.language-container .input-group-text { background-color: #ffffff; border-radius: 0; padding: 10px 12px;}


/* ADDRESS */
/* ============== */
/* .address-box a { color: #444; }
.address-box a:hover { text-decoration: none; }
.address-box a:hover .address-item { background-color: #f3f3f3; }
.address-item {
    border: 1px solid rgba(0,0,0,0.2);
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin-bottom: .5rem;
}
.address-item h4 { padding: 1.5rem; margin-bottom: 0; color: #0099ff; }
.address-label { font-size: .8rem; margin-bottom: .25rem; }
.address-label span { border: 1px solid #ff1818; color: #ff1818; padding: .1rem .5rem; border-radius: .25rem; font-size: .65rem; }
.address-receiver { margin-bottom: .75em; }
.select-address-modal .active { background-color: #f1f9ff; } */

/* MODAL */
/* .add-address-modal { text-align: center; }
.add-address-modal .topbar { margin-left: 0; }
.add-address-modal input {
    font-size: .75rem;
    padding: .75rem;
    width: 100%;
}
.add-address-modal .custom-select { font-size: .75rem; border-color: #444444; }
.add-address-modal .form-group { text-align: left; }
.add-address-modal .btn {
    width: 100%;
} */


/* PAYMENT METHOD */
/* ============== */
.detail-box a { color: #444; }
.detail-box a:hover { text-decoration: none; }
.detail-box a:hover .address-item { background-color: #f3f3f3; }
.detail-item {
    border: 1px solid rgba(0,0,0,0.2);
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin-bottom: .5rem;
    display: flex;
    position: relative;
}
.detail-item-img { margin-left: 15px; margin-right: 30px; }
.detail-item-img img { width: 120px; height: auto; }
span.detail-label { border: 1px solid #ff1818; color: #ff1818; padding: .1rem .5rem; border-radius: .25rem; font-size: .65rem; margin-bottom: .25rem; }
.detail-bank-name { margin-bottom: 0; font-weight: 600; }
.detail-bank-no { margin-bottom: .25rem; }
.detail-bank-expired { font-size: .8rem; color: #858585; margin-bottom: 0;}
.detail-bank-holder { font-size: .8rem; color: #858585; margin-bottom: 0;}
.option { position: absolute; top: 15px; right: 15px; }

/* MODAL */
.add-bank-modal { text-align: center; }
.add-bank-modal .topbar { margin-left: 0; }
.add-bank-modal input {
    font-size: .75rem;
    padding: .75rem;
    width: 100%;
}
.add-bank-modal .form-group { text-align: left; margin-bottom: .25rem; }
.add-bank-modal .form-group label { font-size: .75rem; text-transform: uppercase; font-weight: bold; color: #858585;}
.add-bank-modal .custom-select { font-size: .75rem; border-color: #444444; }
.add-bank-modal .btn {
    margin-top: .75rem;
    width: 100%;
}

/* HELP & FAQ */
/* =========== */
.faq-question{ color: #ff1818; font-weight: bold; }

.info { font-size: .85rem; }
