/*==================================*/
/*==================================*/
/* THIS IS TO CUSTOM CSS STYLESHEET */
/*==================================*/
/*==================================*/

/*
===========================
REFERENCES IN BOOTSTRAP 4
===========================
The classes for text colors are:
.text-muted
.text-primary
.text-success
.text-info
.text-warning
.text-danger
.text-secondary
.text-white
.text-dark
.text-body (default body color/often black)
.text-light
===========================
The media screen size are:
@media (min-width: 576px)
@media (min-width: 768px)
@media (min-width: 992px)
@media (min-width: 1200px)
===========================
*/
/*@font-face {
    font-family: "Nunito";
    src: url('../fonts/nunito-regular.woff2') format('woff2'),
         url('../fonts/nunito-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Nunito";
    src: url('../fonts/nunito-bold.woff2') format('woff2'),
         url('../fonts/nunito-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}*/

html, body {
    height: 100%;
    background-color: #f8f8f8;
}
body {
    display: flex;
    flex-direction: column;
}
.wrapper {
    flex: 1 0 auto;
}
#footer {
    flex-shrink: 0;
}
img{
    max-width: 100%;
}

@media only screen and (min-width: 1500px){
    .container{ max-width: 1500px; }
}

/* COLOR DEFAULT STYLES */
.white { color:#ffffff; }
.greyblue { color:#f1f9ff; }
.blue { color: #0099ff; }
.black { color: #444444; }
.red { color: #ff1818; }
.orange { color: #ffb300; }
.green { color: #00B818; }

/* #00CEE4 */

/* BACKGROUND COLOR DEFAULT STYLES */
.bg-zona { background-color: #fff; }
.bg-blue { background-color: #0099ff; }
.bg-orange { background-color: #ffb300; }
.bg-white { background-color: #ffffff; }
.bg-red { background-color: #ff1818; }
.bg-greyblue { background-color: #f1f9ff; }
.bg-black { background-color: #444444; }
.bg-green { background-color: #00B818; }

/* BUTTON COLOR DEFAULT STYLES */
.btn-zona { background-color: #fff; color: #444444; }
.btn-blue { background-color: #0099ff; color: #ffffff; }
.btn-orange { background-color: #ffb300; color: #ffffff; }
.btn-white { background-color: #ffffff; color: #444444; }
.btn-red { background-color: #ff1818; color: #ffffff; }
.btn-greyblue { background-color: #f1f9ff; color: #444444; }
.btn-black { background-color: #444444; color: #ffffff; }
.btn-green { background-color: #00B818; color: #ffffff; }

.btn-zona:hover { background-color: #fff; color: #444444; }
.btn-blue:hover { background-color: #0099ff; color: #ffffff; }
.btn-orange:hover { background-color: #ffb300; color: #ffffff; }
.btn-white:hover { background-color: #ffffff; color: #444444; }
.btn-red:hover { background-color: #ff1818; color: #ffffff; }
.btn-greyblue:hover { background-color: #f1f9ff; color: #444444; }
.btn-black:hover { background-color: #444444; color: #ffffff; }
.btn-green:hover { background-color: #00B818; color: #ffffff; }

/* MARGIN DEFAULT STYLES */
.mr-sm { margin: 15px; }
.mr-md { margin: 30px; }
.mr-lg { margin: 50px; }
.mr-x-sm { margin-left: 15px; margin-right: 15px; }
.mr-x-md { margin-left: 30px; margin-right: 30px; }
.mr-x-lg { margin-left: 50px; margin-right: 50px; }
.mr-y-sm { margin-top: 15px; margin-bottom: 15px; }
.mr-y-md { margin-top: 30px; margin-bottom: 30px; }
.mr-y-lg { margin-top: 50px; margin-bottom: 50px; }
.mr-top-sm { margin-top: 15px; }
.mr-top-md { margin-top: 30px; }
.mr-top-lg { margin-top: 50px; }
.mr-btm-sm { margin-bottom: 15px; }
.mr-btm-md { margin-bottom: 30px; }
.mr-btm-lg { margin-bottom: 50px; }

/* PADDING DEFAULT STYLES */
.pd-sm { padding: 15px; }
.pd-md { padding: 30px; }
.pd-lg { padding: 50px; }
.pd-x-sm { padding-left: 15px; padding-right: 15px; }
.pd-x-md { padding-left: 30px; padding-right: 30px; }
.pd-x-lg { padding-left: 50px; padding-right: 50px; }
.pd-y-sm { padding-top: 15px; padding-bottom: 15px; }
.pd-y-md { padding-top: 30px; padding-bottom: 30px; }
.pd-y-lg { padding-top: 50px; padding-bottom: 50px; }
.pd-top-sm { padding-top: 15px; }
.pd-top-md { padding-top: 30px; }
.pd-top-lg { padding-top: 50px; }
.pd-btm-sm { padding-bottom: 15px; }
.pd-btm-md { padding-bottom: 30px; }
.pd-btm-lg { padding-bottom: 50px; }

.border { border-color: 1px solid rgba(0,0,0,0.1); }
.cut { text-decoration: line-through; }

.topbar, .topbar h4 {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    color: #858585;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.topbar h4 {
    padding-left: 35px;
}
.topbar h4 .badge{
    font-weight: 500;
    font-size: 12px;
    padding: 8px 15px;
    border: 1px solid #ff1818;
    color: #ff1818;
}

/* PAGERBAR PART */
/* ============= */
.pager-bar { background-color: #ffffff; } /* #f1f9ff */
.pager-bar .breadcrumb {
    border-radius: 0;
    background-color: transparent;
}
.pager-bar .breadcrumb a { color: #ff1818; }
.pager-bar .breadcrumb a:hover { color: #ac1414; text-decoration: none; }

/* PAGE TITLE */
/* ========== */
.page-title{ padding: 40px 0 10px;background-color: #FFF;  }
.page-title h1{ margin: 0; font-size: 24px; text-transform: uppercase; font-weight: bold; }
.page-title h1:before{ content: ""; height: 25px; width: 25px; background-color: #FF1818; display: inline-block; position: relative; top: 4px; margin-right: 15px; }
@media only screen and (max-width:576px){
    .page-title h1{ margin: 0; font-size: 20px; }
    .page-title h1:before{ height: 20px; width: 20px; margin-right: 10px; }
}
/* GENERIC CONTAINER */
/* ================= */
.generic-container{ background-color: #FFF; padding: 30px 0; }

/* CONTACT */
/* ======= */
.contact-detail{
    vertical-align: top;
    display: inline-block;
    width: 35%;
    margin-right: -4px;
    padding-right: 50px;
}
.contact-detail .list{
    margin-bottom: 25px;
}
.contact-detail .list img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.contact-detail .list .list-content{
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}
.contact-detail .list .list-content label{
    margin-bottom: 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
}
.contact-detail .list .list-content p{
    margin-bottom: 0;
    line-height: 1;
    font-size: 14px;
    color: #4a4a4a;
}
.contact-form{
    display: inline-block;
    width: 65%;
    margin-right: -4px;
    padding-left: 50px;
    border-left: 1px solid #e6e6e6;
}
.contact-form .form-group .control-label{
    margin-bottom: 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
}
.contact-form .form-group .form-control{
    background-color: #f5f5f5;
    border: 0;
    border-radius: 6px;
    min-height: 42px;
}
.contact-form .form-group textarea.form-control{
    resize: none;
}
.contact-form .action{
    text-align: center;
}
.contact-form .action .btn{
    background-color: #FF1818;
    border-color: #FF1818;
    color: #FFF;
    width: 180px;
}
@media only screen and (max-width:992px){
    .contact-detail{
        display: block;
        width: 100%;
        padding-right: 0;
        padding-bottom: 15px;
    }
    .contact-form{
        display: block;
        width: 100%;
        padding-left: 0;
        border-left: 0;
        border-top: 1px solid #e6e6e6;
        padding-top: 30px;
    }
}


/* RATING PART */
/*=============*/
.card-rating {
    font-size: 14px;
    color: orange
}
.card-rating > .shine {
    color: orange
}
.card-review {
    padding-left: 4px;
    font-size: .6rem;
    margin-top: -1px;
    font-weight: 600;
    color: orange;
}

/* VIEW MORE BUTTON */
/*==================*/
.view-more { color: #444; font-weight: 500; }
.view-more:hover { color: #ff1818; text-decoration: none; }

/* TITLE DESIGN PART */
/* ================= */
.red-head {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ff1818;
    left: 0;
}

/* FLOATING DISCOUNT PART */
/* ====================== */
.discount-rate:not([href]):not([tabindex]) {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    padding: .2rem .5rem;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #ffffff;
}

/* INLINE DISCOUNT PART */
/* ==================== */
.discount-rate-inline {
    padding: .2rem .5rem;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #ffffff;
}

/* CAROUSEL */
.main-slide{
	position: relative;
}
.main-slide:after{
	content: "";
	display: table;
	clear: both;
}
.main-slide .banner-container{
	width: 100%;
}
.banner-container {
    width: 100%;
    height: auto;
    background-color: #fff;
    /* background-image: url('../images/banner/banner3.jpg'); */
    /* background-size: cover; */
}
.banner-container .carousel-inner .carousel-item img {
    margin: 0 auto; text-align: center; width: 100%;
}
.banner-promo-container {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}
.banner-promo-container > div { height: 50px; }
.banner-promo-container .carousel-indicators {
    position: relative;
    margin: 0;
    bottom: 0;
}
.main-slide .side-banner{
	position: absolute;
	right: 50%;
	top: 0;
	width: 25%;
    margin-right: -735px;
    background-color: rgba(255, 255, 255, 0.3);
	padding: 0 5px;
}
.main-slide .side-banner .list{
	overflow: hidden;
	position: relative;
	margin-bottom: 5px;
}
.main-slide .side-banner .list label{
	position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    background-color: #ff1818;
    color: #FFF;
    text-transform: uppercase;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: -20px;
}
.main-slide .side-banner .list:after{
	display: block;
	content: "";
    padding-bottom: 44.7%;
}
.main-slide .side-banner a:last-child .list{
	margin-bottom: 0px;
}
.main-slide .side-banner .list img{
	position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.main-slide .more{
    position: absolute;
    right: 50%;
    bottom: 15px;
    margin-right: -730px;
}
@media only screen and (max-width:1499px){
	.main-slide .side-banner{
		margin-right: -555px;
    }
    .main-slide .more{
		margin-right: -555px;
    }
}
@media only screen and (max-width:1199px){
	.main-slide .side-banner{
		margin-right: -470px;
	}
    .main-slide .more{
		margin-right: -470px;
    }
}
@media only screen and (max-width:992px){
	.main-slide {
		padding: 0;
	}
	.main-slide .banner-container {
		width: 100%;
	}
	.main-slide .side-banner {
		display: none;
	}
    .main-slide .more{
        margin-right: 0px;
        right: 15px;
    }
}

/* ITEM CONTAINER PART */
/* =================== */
.item-container:after{
    content: "";
    display: table;
    clear: both;
}
.item-container {
    margin: 10px -5px 0;
    padding-bottom: 0;
}
.item-container .card{
    width:16.66%;
    float: left;
    padding: 0 5px;
    margin-bottom: 10px;
    background: transparent;
    border: 0;
}
.item-container.side-listing .card{
    width:25%;
}
.item-container .card .card-thumb{
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.item-container .card .card-thumb:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.item-container .card .card-thumb img{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    max-width: initial;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.item-container .card > a{
    position: relative;
    display: block;
    background-color: #FFF;
    border: 1px solid #e6e6e6;
}
.item-container .card > a.view-more{
    border: 0px solid #e6e6e6;
}
.item-container .card a:hover{
    text-decoration: none;
}
.item-container .card .card-body .sold-out-tag{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: #FFF;
    padding: 18px 10px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.item-container .card:hover .card-body .sold-out-tag{
    background: rgba(160, 0, 0, 0.9);
}
.item-container .card .card-body .card-title{
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: inherit;
    color: #444;
    height: 40px;
}
.item-container p.card-text { margin-bottom: 0; font-weight: bold; }

.more{ text-align: right; }
.more a{  color: #444; font-size: 14px; }
.more a i{  color: #F50006; font-size: 18px; position: relative; top: 4px; }

@media only screen and (max-width:1200px){
    .item-container .card, .item-container.side-listing .card{ width:33.33%; }
}
@media only screen and (max-width:576px){
    .item-container .card, .item-container.side-listing .card{ width:50%; }
}

.merchant-container:after{ content: ""; display: table; clear: both; }
.merchant-container{ margin: 10px -5px 0; }
.merchant-container .card{
    border: 0;
    width: 25%;
    float: left;
    padding: 0 5px;
    margin-bottom: 10px;
    background: transparent;
}
.merchant-container .card a{ background-color: #FFF; padding: 0 30px; }

.merchant-container.brands .card a{
    position: relative;
    background-color: #FFF;
    overflow: hidden;
}
.merchant-container.brands .card a:after{
    content:"";
    display: block;
    padding-bottom: 40%;
}
.merchant-container.brands .card img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: 85%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.merchant-container.stores .card a{
    position: relative;
    background-color: #FFF;
    overflow: hidden;
}
.merchant-container.stores .card a:after{
    content:"";
    display: block;
    padding-bottom: 60%;
}
.merchant-container.stores .card img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.feature-category-container:after{ content: ""; display: table; clear: both; }
.feature-category-container{ margin: 10px -5px 0; }
.feature-category-container .card{
    border: 0;
    width: 25%;
    float: left;
    padding: 0 5px;
    margin-bottom: 10px;
    background: transparent;
    overflow: hidden;
}
.feature-category-container .card a{ position: relative; color: #FFF; }
.feature-category-container .card .card-thumb:after{
    content: "";
    display: block;
    padding-bottom: 67%;
}
.feature-category-container .card .card-thumb{
    position: relative;
    overflow: hidden;
}
.feature-category-container .card .card-thumb img{
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 120%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.feature-category-container .card .card-img-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
@media only screen and (max-width:1200px){
    .feature-category-container .card, .merchant-container .card{ width:33.33%; }
}
@media only screen and (max-width:576px){
    .feature-category-container .card, .merchant-container .card{ width:50%; }
}

/* FLASH SALES COUNTDOWN PART */
/* ========================== */
.flash-sales-container .topbar .icon-flashsale{ position: absolute; width: 30px; top: -5px;}
.flash-sales-container .topbar h4{ color:#000; }
.flash-sale-time:after{display: table; clear: both; content: "";}
.flash-sale-time h6{display: inline-block; margin: 10px 0;}
.flash-sale-time .disp-countdown{ float: right; }
.flash-sales-container { background-color: #eff0f4; }
.disp-countdown {
	position: absolute;
	right: 0;
	top: -5px;
    margin-left: 8px;
}
.disp-countdown > div.bg-black {
    padding: 5px 10px;
    display: inline-block;
}
.disp-hr, .disp-min, .disp-sec {
    /* padding: .5rem; */
    color: #fff;
    border-radius: 4px;
}
.disp-gap {
    padding: 0 .3rem;
    color: #fff;
}
.product-flash-sale-container{
    position: relative;
    padding: 10px 15px 5px;
    margin-bottom: -16px;
    background: #f5f5f5;
}
.product-flash-sale-container .flash-sale-tag {
    display: inline-block;
    padding-right: 3px;
}
.product-flash-sale-container .flash-sale-tag img{
	width: 15px;
    margin-right: -2px;
    position: relative;
    top: -2px;
}
.product-flash-sale-container .flash-sale-tag h4{
	display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #000;
}
.product-flash-sale-container .time{
	display: inline-block;
    font-size: 12px;
    vertical-align: top;
    color: #787878;
    padding-left: 5px;
	border-left: 1px solid #dcdcdc;
}
@media only screen and (max-width:576px){
	.disp-countdown {
		position: relative;
		top: 0;
		margin-left: 0;
		padding: 10px 0;
		background: #fff;
		text-align: center;
		margin: 10px 0 -5px;
	}
    .flash-sale-time{ background: #FFF; text-align: center; padding: 10px; margin: 10px 0 0;}
    .flash-sale-time h6{display: block; margin: 0; font-size: 14px;}
    .flash-sale-time .disp-countdown{ float: none; }
    .disp-countdown > div.bg-black{ background: transparent; padding: 0 10px;}
    .disp-hr, .disp-min, .disp-sec, .disp-gap { color: #F50006; }
}


/* CAROUSEL INDICATORS PART */
/* ======================== */
.banner-container.slide{
    height: auto;
}
.carousel-indicators li {
    height: 5px;
    background-color: #444444;
}
.carousel-indicators-bullet li {
    width: 8px; height: 8px; border-radius: 8px; background-color: #858585;
}
.carousel-indicators-white li {
    height: 5px;
    background-color: #858585;
}
.carousel-indicators .active,
.carousel-indicators-white .active {
    background-color: #ff1818;
}

/* MODAL PART */
/* ========== */
.modal-content {
    padding: 1.75rem;
}
.modal-title {
    text-transform: uppercase;
    font-weight: 400;
}
.modal-content .topbar .modal-title{
    padding-left: 0px;
    color: #000;
}
.modal-content .topbar .red-head{
    display: none;
}

/* PRICE NEGO MODAL */
/* ================ */
#PriceNego .modal-content{
	padding: 0;
}
#PriceNego .modal-content .modal-header{
	display: block;
    padding: 14px 20px;
}
#PriceNego .modal-content .modal-header .modal-title{
    text-transform: initial;
    font-size: 16px;
}
#PriceNego .modal-content .modal-body{
    padding: 0px;
}
#PriceNego .modal-content .modal-body .product{
	position: relative;
    padding: 10px 20px;
	background-color: #fafafa;
    border-bottom: 1px solid #dcdcdc;
}
#PriceNego .modal-content .modal-body .product .thumb{
    vertical-align: top;
	position: relative;
    width: 80px;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #dcdcdc;
}
#PriceNego .modal-content .modal-body .product .thumb:after{
	content: "";
	padding-bottom: 100%;
	display: block;
}
#PriceNego .modal-content .modal-body .product .thumb img{
	position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#PriceNego .modal-content .modal-body .product .product-content{
	display: inline-block;
    padding-left: 10px;
}
#PriceNego .modal-content .modal-body .product .product-content h4{
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 0;
    color: #000;
}
#PriceNego .modal-content .modal-body .product .product-content .attribute{
    list-style: none; padding: 0; margin: -2px 0 0;
}
#PriceNego .modal-content .modal-body .product .product-content .attribute li{
    display: inline-block;
	margin-right: 5px;
	font-size: 12px;
	color: #9b9b9b;
}
#PriceNego .modal-content .modal-body .product .product-content .no-shipping{
	color: #9b9b9b;
    font-size: 12px;
}
#PriceNego .modal-content .modal-body .product .product-content .service-section{
	margin-top: 5px;
}
#PriceNego .modal-content .modal-body .product .product-content .service-section .service-item{
	font-size: 12px;
	color: #000;
	padding: 2px 10px;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
}
#PriceNego .modal-content .modal-body .product .product-content .price{
	font-weight: 500;
    color: #ff1818;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 16px;
}
#PriceNego .modal-content .modal-body .expiry-date{
	background-color: #ffe6e6;
	text-align: center;
	padding: 10px;
	color: #aa0000;
    border-bottom: 1px solid #dcdcdc;
    font-size: 14px;
}
#PriceNego .modal-content .modal-body .offer{
	position: relative;
	padding: 10px 20px;
	border-bottom: 1px solid #dcdcdc;
}
#PriceNego .modal-content .modal-body .offer label{
	margin: 0;
    font-size: 13px;
    color: #9b9b9b;
}
#PriceNego .modal-content .modal-body .offer .price{
	font-weight: 500;
    color: #ff1818;
    font-size: 20px;
    margin-top: -5px;
}
#PriceNego .modal-content .modal-body .offer .action{
	position: absolute;
	right: 20px;
	bottom: 10px;
}
#PriceNego .modal-content .modal-body .offer .action .btn{
	background-color: transparent;
    color: #ff1818;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #ff1818;
    padding: 4px 20px 6px;
    text-transform: initial;
}
#PriceNego .modal-content .modal-body .offer .action .btn:hover,
#PriceNego .modal-content .modal-body .offer .action .btn:focus,
#PriceNego .modal-content .modal-body .offer .action .btn:active{
    color: #fff;
	background-color: #ff1818;
}
#PriceNego .modal-content .modal-body .form {
	padding: 10px 20px 25px;
}
#PriceNego .modal-content .modal-body .form .form-group label{
	margin: 0;
    font-size: 13px;
    color: #9b9b9b;
}
#PriceNego .modal-content .modal-body .form .form-group .form-control{
	border-color: #dcdcdc;
}
#PriceNego .modal-content .modal-body .form .form-group .help-block{
	font-size: 12px;
}
#PriceNego .modal-content .modal-body .form .form-group .help-block highlight{
    color: #ff1818;
}
#PriceNego .modal-content .modal-body .form .action{
    text-align: center;
}
#PriceNego .modal-content .modal-body .form .action .btn{
	padding: 8px 25px;
    font-size: 14px;
    text-transform: initial;
    font-weight: 500;
}
@media only screen and (max-width: 480px){
	#PriceNego .modal-content .modal-body .product{
		white-space: nowrap;
		overflow: auto;
	}
	#PriceNego .modal-content .modal-body .product .thumb{
		width: 50px;
	}
	#PriceNego .modal-content .modal-body .product .product-content .price{
		position: static;
		margin-top: 5px;
	}
	#PriceNego .modal-content .modal-body .form .form-group .help-block{
		line-height: 1.2;
		display: block;
	}
}

/* DIVIDERBAR PART */
/* ============= */
.divider-bar { background-color: #f1f9ff; height: 48px; }

/* TABS & PILLS PART */
/*===================*/
.nav-pills .nav-link {
    color: #444444;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ff1818;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid #ff1818;
}

/* EMPTY */
/* ======================== */
.empty{
    padding: 60px 0;
    text-align: center;
    width: 100%;
}
.empty h5{
    font-size: 18px;
    margin: 10px 0;
}
.empty .btn{
    border: 1px solid #F50006;
    color: #f50006;
    padding: 8px 40px;
    font-weight: 600;
    margin-top: 15px;
}


/* SUB CATEGORY */
/* ============= */
.subcategory-container .card:hover { background-color: #f8f8f8; }
.subcategory-container .card > a { text-decoration: none; color: #444; display: block; }
.subcategory-container .card { margin-bottom: .25rem; }
 .subcategory-container .card-columns {
    -webkit-column-count: 10;
    -moz-column-count: 10;
    column-count: 10;
    -webkit-column-gap: .25rem;
    -moz-column-gap: .25rem;
    column-gap: .25rem;
}
.subcategory-container .thumb {
    position: relative;
    overflow: hidden;
}
.subcategory-container .thumb:after{
    content: "";
    display: block;
    padding-bottom: 60%;
}
.subcategory-container .card-img-top {
    display: block;
    width: 60%;
    margin: 0 auto;

    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 60%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.subcategory-container .card-body { position: relative; padding: .75rem .25rem; }
.subcategory-container .card-text { height: 40px; font-size: .75rem; }
@media (max-width: 1200px) {
    .subcategory-container .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}
@media (max-width: 992px) {
    .subcategory-container .card-columns {
        -webkit-column-count: auto;
        -moz-column-count: auto;
        column-count: auto;
        white-space: nowrap;
        overflow: auto;
    }
    .subcategory-container .card-columns .card{
        width: 120px;
        display: inline-block;
        white-space: normal;
        vertical-align: top;
    }
}

@media (min-width: 768px) {
    .main-content-container {
        width: 76%;
        padding-left: 1.5rem;
        display: inline-block;
        margin-right: -4px;
        vertical-align: top;
    }
    .main-content-container.full{
        width: 100%;
    }
}

/* PRODUCT FILTER */
/* ============= */
.filter-toggler{ display: none;}
.top-filter-box{ margin-top: 15px; }
.filter-container {
    padding: 1.5rem;
}
.main-content-container:after{
    display: table;
    clear: both;
    content: "";
}
@media (min-width: 768px) {
    .top-filter-box .form-inline{ display: inline-block; float: right; }
    .top-filter-box .form-inline label{ display: inline-block; font-size: 13px; }

    .filter-container {
        display: inline-block;
        margin-right: -4px;
        width: 24%;
        background-color: #ffffff; /* #f5f5f5 */
        box-shadow: 2px 2px 2px #ddd;
        padding: 1.5rem;
        vertical-align: top;
    }
}
.filter-container h6 {
    margin-bottom: 1rem;
}
.tag {
    display: inline-block;
    padding: 0.5rem .75rem;
    font-size: .65rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}
.filter-container .form-inline {
    margin-bottom: .5rem;
}
.filter-container .form-inline i {
    margin-left: 8px;
    margin-right: 8px;
}
.filter-container .form-inline .form-control {
    font-size: .75rem;
    padding: .5rem .75rem;
    border-radius: 1rem;
}
.filter-container .form-inline .full-length { width: 80%; }
.filter-container .form-inline .half-length { width: 40%; }
.custom-control {
    margin-bottom: .75rem;
}
.custom-control-label {
    margin-left: 10px;
    /*font-size: .75rem;*/
    vertical-align: middle;
    /*margin-bottom: 5px; */
}
.custom-control-label::before {
    height: 1.5rem;
    width: 1.5rem;
    top: 0;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}
.custom-control-label::after {
    height: 1.5rem;
    width: 1.5rem;
    top: 0;
}
.filter-box .view-more {
    font-size: .75rem;
}
.filter-box .card-rating {
    font-size: .75rem;
}

/* TAG */
.tag:hover {
    background-color: #444;
    color: #fff;
}
.tag:hover .close {
    color: #fff;
}
.filter-container .tag {
    margin-bottom: .5rem;
}
.top-filter-box .tag {
    padding: .75rem;
    margin-left: 10px;
}
.your-car, .label-tag {
    margin-bottom: 0 !important;
    margin-right: 4px;
}
.filter-container .close,
.top-filter-box .close {
    float: none;
    font-size: .7rem;
    opacity: 1;
}
@media only screen and (max-width:767px){
    .filter-toggler{ margin: 0 -15px;background-color: #FFF; display: block; padding: 12px 15px; font-weight: 600; border: 1px solid #e6e6e6;}
    .filter-toggler:after{ content: ""; border-top: .3em solid; border-right: .2em solid transparent; border-bottom: 0; border-left: .2em solid transparent; float: right; margin: 10px 5px;}
    .filter-container{ display: none; background: #FFF; margin: 0 -15px;}
    .top-filter-box .btn-red{ width: 100%; margin-bottom: 8px;}
}

/* PRODUCT */
/* ======= */
@media (max-width: 767px) {
    .main-overview-container {
        flex-direction: column;
    }
}
@media (min-width: 768px) {
    .product-image-container {
        width: 50%;
    }
    .product-overview-container {
        width: 50%;
        margin-left: 20px;
    }
}
.product-overview-container { padding: 1.5rem; }
.product-title { margin-bottom: 0; font-weight: 400; width:85%;}
.product-overview-container .card-rating { font-size: .5rem; }
.product-overview-container .sold-out-tag{
	background-color: #000;
    color: #FFF;
    display: inline-block;
	text-align: center;
    margin: 0 auto;
    padding: 12px 30px;
    border-radius: 6px;
    margin-top: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}
.favourite, .share { font-size: 1.2rem; margin: 0 .25rem;}
.info { font-size: .8rem;}

.price-layer {margin-top: 20px; }
.price-layer h6 { margin-bottom: 4px; }
.price-layer h5 { font-weight: 600; margin-bottom: 0; }

.quantity-setting button { padding: .5rem .75rem; background-color: #f2f2f2; border: none; cursor: pointer; border-bottom: 2px solid rgb(209, 209, 209); }
.quantity-setting button:hover { background-color: #f6f6f6; }
.quantity-setting button:focus { outline: none; }
.quantity-setting button:active { background-color: rgb(209, 209, 209); outline: none; }
.quantity-setting span { padding: .5rem 1rem; background-color: #eeeeee; }
.quantity-setting input[type="number"] { padding: .5rem 1rem; background-color: #eeeeee; border: 0; text-align: center; display: inline-block; width: 50px;}
.quantity-setting input[type="number"]::-webkit-inner-spin-button,
.quantity-setting input[type="number"]::-webkit-outer-spin-button  { -webkit-appearance: none;  margin: 0; }

.product-overview-container .button-layer .btn { padding: .5rem; border: 2px solid transparent; }
.product-overview-container .button-layer .btn-cart { width: auto; background-color: #ed1c24; font-weight: 600; color: #ffffff; border-color: #ed1c24; }
.product-overview-container .button-layer .btn-cart:hover { background-color: #a0000c; color: #ffffff; border-color: #ff1818; }
.product-overview-container .button-layer .btn-nego { width: 120px; background-color: #ffffff; font-weight: 600; color: #444444; border-color: #444444; }
.product-overview-container .button-layer .btn-nego:hover {  background-color: transparent; color: #F50006; border-color: #F50006; }
.product-overview-container .button-layer .btn-chat { width: 100px; background-color: #ffffff; color: #444444; border-color: #444444; }
.product-overview-container .button-layer .btn-chat:hover { background-color: transparent; color: #F50006; border-color: #F50006; }

.merchant-container.product { background-color: #ffffff; padding: 2.5rem; margin: 0; }
.merchant-container.product .btn { padding: .5rem; border: 2px solid transparent; }
.merchant-container.product .btn-visit { background-color: #ed1c24; color: #ffffff; float: right; margin-top: 8px; }
.merchant-container.product .btn-visit:hover { background-color: #a0000c; color: #ffffff; }

.btn-blue:hover { background-color: #ff1818; }

.description-container { }
.description-container:after { content: ""; display: table; clear: both; }
.description-container .display-part { }

.service-section .form-check{
	margin: 0;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.service-section .form-check:last-child{
    border-bottom: 0px solid #e6e6e6;
    margin-bottom: 0px;
}
.service-section .form-check input[type="checkbox"]{ position: absolute; visibility: hidden; }
.service-section .form-check input[type="checkbox"] ~ .form-check-label{
	font-size: 14px;
	color: #9a9a9a;
	text-transform: capitalize;
}
.service-section .form-check input[type="checkbox"] ~ .form-check-label .price{
	float: right;
    color: #ff1818;
    font-weight: 600;
}
.service-section .form-check input[type="checkbox"] ~ .form-check-label:before{
	content: "";
	display: inline-block;
	border: 1px solid #ccc;
	height: 18px;
	width: 18px;
	border-radius: 4px;
    vertical-align: middle;
	margin-right: 8px;
}
.service-section .form-check input[type="checkbox"]:checked ~ .form-check-label{
	color: #4a4a4a;
}
.service-section .form-check input[type="checkbox"]:checked ~ .form-check-label:before{
	border-color: #ff1818;
	background-color: #ff1818;
	background-image: url(../images/icon/icon_checked_white.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width:576px){
    .product-overview-container .button-layer .btn-cart{ width: 100%; margin-bottom: 10px; }
    .product-overview-container .button-layer .btn-nego,
    .product-overview-container .button-layer .btn-chat{ width: 100%; }
    .description-container, .description-container-2{ padding: 20px; }
    .merchant-container.product { text-align: center; padding: 10px 15px 20px;}
    .merchant-container.product .merchant-name { display: block; }
    .merchant-container.product .btn-visit { float: none; display: block; }
}


/* THUMBNAIL PART*/
/*===============*/
.thumbnail-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    /* height: 230px;
    width: 230px; */
}

.item-image-1 {
    background-image: url('../images/set/i3.jpg');
}

.thumbnail-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: auto;
}


/* MERCHANT */
/* ======== */
.banner-container {
    width: 100%;
    height: 300px;
    background-color: #2699fb;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.coverboard{
    background-color: #FFF;
    margin: 0;
    padding: 30px 30px 15px;
    margin-bottom: 30px;
}
.coverboard .more{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #f5f5f5;
}
.coverboard + .tab-container{
    background-color: #FFF;
}
.coverboard + .tab-container .tab-content{
    padding: 0 20px;
}
.merchant-detail, .merchant-info, .merchant-features { vertical-align: top; width: 50%; display: inline-block; margin-right: -4px; }
.merchant-detail.full { width: 100%; }
.merchant-logo-frame {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 2px solid rgba(0,0,0,0.1);
    text-align: center;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.merchant-logo-frame .merchant-image {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.merchant-main { display: inline-block; vertical-align: middle;}
.merchant-online { color: #858585; font-size: .85rem; }
.merchant-quote { padding: 30px; font-style: italic; color: #888; background-color: #fafafa; }
.merchant-info { display: flex; border-top: 2px solid #e6e6e6; width: 100%; align-items: center; padding: 20px 15px; align-items: flex-start; flex-wrap: wrap; }
.session { margin-bottom: 15px; flex-basis: 50%; padding: 0 10px; align-items: flex-start; }
.session .inner { border: 1px solid #e6e6e6; padding: 10px 20px; height: 100%; }
.session-title { font-size: .85rem; font-weight: bold; color: #ff1818; text-transform: uppercase; margin-bottom: 8px; }
.session-item { padding: 10px 0; }
.session-item + .session-item { border-top: 1px solid rgba(0,0,0,0.1); }
.session-item p { margin-bottom: 0; font-size: .8rem; }
.merchant-features { padding: 15px 0;  vertical-align: top;  border: 1px solid #e6e6e6; background-color: #fafafa;}
.merchant-features.single { width: 25%; float: right; }
.merchant-features.single .features-list { width: 100%; }
.merchant-features .features-list { width: 33.33%; text-align: center; display: inline-block; margin-right: -4px; border-right: 1px solid #e6e6e6;}
.merchant-features .features-list:last-child { border-right: 0px solid #e6e6e6;}
.merchant-features .features-list p{ margin-bottom: 0; font-size: 13px; color:#8a8a8a;}
.merchant-features h3 { font-weight: bold; font-size: 18px; color: #444; }

.session-activity .session-item,
.session-statistic .session-item { display: flex; justify-content: space-between; }
.session-address .session-item i.material-icons { font-size: 1rem; color: #858585; }
.session-address .session-item p { font-size: .8rem; margin-left: 10px; }
.session-address .session-item p.see-more { margin-left: 0; }



@media only screen and (max-width:767px){
    .merchant-detail, .merchant-info, .merchant-features{ width: 100%; }
    .merchant-features { margin-top: 10px; }
    .session{  flex-basis: 100%; padding: 0;}
    .merchant-features{ padding: 20px 0;}
    .merchant-features.single{ width: 100%; float: none; }
}
@media only screen and (max-width:576px){
    .merchant-features { padding: 0; border: 0;  border-top: 1px solid #e6e6e6; background-color: transparent;}
    .merchant-features .features-list { padding: 5px 0; width: 100%; text-align: left; display: inline-block; border-right: 0; border-bottom: 1px solid #e6e6e6;}
    .merchant-features .features-list:last-child { border-bottom: 0px solid #e6e6e6;}
    .merchant-features .features-list p{ display: inline-block;}
    .merchant-features .features-list h3{ float: right; }

    .rate-total { width: 100%; }
    .rate-status { width: 100%; }
}

/* RATE & REVIEWS */
/* ============== */
.rate-container { max-width: 700px; margin: 15px auto; }
.rate-total { width: 30%; display: inline-block; margin-right: -4px; }
.rate-status { width: 70%; display: inline-block; margin-right: -4px; }
.rate-total h1 { font-size: 2.5rem; }
.rate-total .card-rating { font-size: 1rem; }
.rate-status .card-rating { font-size: .7rem; margin-right: 15px; }
.rate-status .progress .progress-bar { background-color: #ffb300; }

.review-container { margin: 30px auto; max-width: 700px; }
.write-review textarea { width: 100%; height: 120px; padding: .375rem .75rem; border-radius: .25rem; }

.review-item { padding: 10px 0; }
.review-item + .review-item { border-top: 1px solid rgba(0,0,0,0.1); }
.review-item-img { width: 120px; height: 120px; }
.review-item-content { padding: 10px; }
.review-item-name { margin-bottom: 0; }
.review-user { font-size: .8rem; }
.review-datetime { color: #858585; font-size: .75rem; font-style: italic; }
@media only screen and (max-width:576px){
    .rate-total { width: 100%; }
    .rate-status { width: 100%; }
}


/* CART */
@media (max-width: 767px) {
    .main-overview-container {
        flex-direction: column;
    }
}
@media (min-width: 768px) {
    .cart-item-container {
        width: 65%;
    }
    .side-container {
        width: 35%;
        margin-left: 20px;
    }
}

.quantity-setting button { padding: .5rem .75rem; background-color: #f2f2f2; border: none; cursor: pointer; border-bottom: 2px solid rgb(209, 209, 209); }
.quantity-setting button:hover { background-color: #f6f6f6; }
.quantity-setting button:focus { outline: none; }
.quantity-setting button:active { background-color: rgb(209, 209, 209); outline: none; }
.quantity-setting span { padding: .5rem 1rem; background-color: #eeeeee; } /* #f1f9ff */
.quantity-setting input[type="number"] { padding: .5rem 1rem; background-color: #eeeeee; border: 0; text-align: center; display: inline-block; width: 50px;}
.quantity-setting input[type="number"]::-webkit-inner-spin-button,
.quantity-setting input[type="number"]::-webkit-outer-spin-button  { -webkit-appearance: none;  margin: 0; }

.cart-merchant-items { background-color: #ffffff; }

.merchant-bar {
    position: relative;
    background-color: #ffffff; /* #f1f9ff */
    padding: .75rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.merchant-bar a { color: #444; }
.merchant-bar a:hover { text-decoration: none; }
.merchant-bar i { font-size: 18px; margin-right: 5px; }
.merchant-bar h6 {
    font-weight: normal;
    margin-bottom: 0;
}
.merchant-bar .estimation-time {
    margin-bottom: 0;
    font-size: .85rem;
    color: #858585;
}
.merchant-bar .select2 {
	position: absolute;
    width: 50%!important;
    top: 0;
    right: 0;
    height: 100%;
}
.merchant-bar .select2 {
	position: absolute;
    width: 50%!important;
    top: 0;
    right: 0;
    height: 100%;
}
.merchant-bar .select2-container--default .select2-selection--single {
	height: 100%!important;
	border: 0;
    border-left: 1px solid #ddd!important;
    background-color: #fafafa;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #9a9a9a;
}
.merchant-bar .select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 100%!important;
}
@media only screen and (max-width:576px){
	.merchant-bar .select2 {
		position: relative;
		width: 100%!important;
		margin-top: 10px;
	}
	.merchant-bar .select2-container--default .select2-selection--single {
		border: 1px solid #aaa!important;
	}
}

.cart-merchant-items .cart-container { padding: 15px; position: relative; border-bottom: 1px solid #e6e6e6;}
.cart-merchant-items .cart-container:last-child { border-bottom: 0px solid #e6e6e6;}
.cart-item-image {
	position: relative;
	width: 150px;
	display: inline-block;
    border: 1px solid #f5f5f5;
}
.cart-item-image:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.cart-item-image img {
	position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.cart-item-content{
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
    width: 55%;
}
.cart-item-content .cart-item-title > a { color: #444; font-weight: 400; }
.cart-item-content .cart-item-title > a:hover { color: #444; text-decoration: none; }
.cart-item-content .quantity-setting { display: inline-block; }
.cart-item-label {
    font-size: .75rem;
    padding: 3px 8px;
    background-color: #ff1818;
    border-radius: 4px;
    color: #fff;
}
.cart-item-content .no-shipping{
	font-size: 12px;
    color: #9a9a9a;
}
.cart-item-content .service-section{
	margin: 5px 0 10px;
}
.cart-item-content .service-section .service-item{
	display: inline-block;
    padding: 2px 8px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 600;
	margin-bottom: 5px;
}
.cart-item-delete {
    margin-left: 15px;
	display: inline-block;
    vertical-align: middle;
}
.cart-item-delete a {
    color: #858585;
}
.cart-item-delete a:hover {
    color: #ff1818;
}
.cart-item-subtotal {
	position: absolute;
	right: 15px;
	top: 0;
    text-align: right;
    color: #ff1818;
}
.cart-item-subtotal h5{
	font-size: 18px;
}
.cart-item-content .cart-item-qty{
	display: inline-block;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 8px;
	color: #4a4a4a;
	padding-right: 10px;
}
.select2-results__option{
	border-bottom: 1px solid #ddd;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #f5f5f5!important;
    color: #000!important;
}
.courier-list{
	position: relative;
}
.courier-list .courier-name{
	color: #4a4a4a;
	font-size: 14px;
	font-weight: bold;
}
.courier-list .courier-name .time{
	display: block;
    font-weight: normal;
    font-size: 12px;
    color: #9a9a9a;
}
.courier-list .shipping-price{
	position: absolute;
    right: 0;
    bottom: 0;
    color: #ff1818;
    font-weight: bold;
	font-size: 13px;
}
.delivery-container {
    padding: 1.5rem;
    background-color: #ffffff;
    margin-bottom: 12px;
}
.delivery-container i.material-icons {
    font-size: 1.5rem;
    vertical-align: top;
    margin-top: 3px;
}
.delivery-container a { font-size: .8rem; }
.delivery-container a:hover { color: #ff1818; }
.delivery-container .address-info .info span {
    display: inline-block;
    width: 90%;
    margin: 3px 0 5px 10px;
}
.order-summary-container {
    padding: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #DCDCDC!important;
    border-radius: 6px;
}
.product-title { margin-bottom: 0; font-weight: 400; text-transform: uppercase; }
.order-summary-container p { font-size: 1rem; }
.promo-input-container{
    position: relative;
}
.promo-input-container #promo-loader{
    position: absolute;
    right: 90px;
    top: 50%;
    margin-top: -8px;
    color: #ff68a0;
}

.promo-input {
    border-radius: .25rem  0 0 .25rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: .375rem .75rem;
    width: 100%;
}
.btn-promo {
	color: #fff;
    padding: 5px 20px;
    border-radius: 0 6px 6px 0;
    font-size: 14px;
    font-weight: 600;
    background-color: #ff000a;
}
.button-layer .btn { padding: .5rem; border-radius: .25rem; border: 2px solid transparent; text-transform: uppercase; }
.button-layer .btn-cart { width: 100%; background-color: #ffb300; color: #ffffff; border-color: #ffb300; }
.button-layer .btn-cart:hover { background-color: #ff1818; color: #ffffff; border-color: #ff1818; }

.error-text{
	font-size: 12px;
	color: #ff000a;
}


.favourite, .share { font-size: 1.2rem; margin: 0 .25rem;}
.info { font-size: .8rem;}

.price-layer {margin-top: 0px; position: relative;   margin-bottom: 14px;}
.price-layer h6 { margin-bottom: 4px; }
.price-layer h5 { font-weight: 600; margin-bottom: 0; font-size: 16px; }
.price-layer .with_discounted h6{ position: absolute; top: 80%; color: #9b9b9b; }

.product-left-amount{ font-weight: 400; font-size: 14px; color: #000; margin: 0;}

.checkout-fail{
	max-width: 750px;
	margin: 5% auto;
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 30px 40px;
	text-align: center;
}
.checkout-fail h5{
	font-weight: bold;
	margin: 15px 0 5px;
}
.checkout-fail p{
	color: #9a9a9a;
	font-size: 14px;
}
.checkout-success{
	background-color: #FFF;
	border-radius: 4px;
	border: 1px solid #9ced00;
	margin-bottom: 15px;
    max-width: 750px;
    margin: 5% auto;
    padding: 30px 40px;
    text-align: center;
}
.checkout-success > img{
	margin-right: 15px;
	vertical-align: top;
}
.checkout-success .checkout-content{
	display: inline-block;
    width: 85%;
}
.checkout-success .checkout-content h5{
    font-weight: bold;
    text-transform: capitalize;
}
.checkout-success .checkout-content p{
	color: #9a9a9a;
	font-size: 14px;
	line-height: 1.1;
}
.checkout-form-container{
    display: flex;
}

.checkout-status{
	background-color: #FFF;
	border-radius: 4px;
	border: 1px solid #9ced00;
	margin-bottom: 15px;
    max-width: 750px;
    margin: 5% auto;
    padding: 30px 40px;
    text-align: center;
}

.order-item{
	padding: 20px 30px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
    background-color: #ffffff;
}
.order-item .top-layer p{
	font-size: .85rem;
    color: #858585;
    margin-bottom: 0;
}
.order-item .top-layer p a {
    font-weight: 600;
    color: #444444;
}
.order-item .product-layer{
	padding-top: 10px;
}
.order-item .product-layer .product-image-container{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 80px;
	border: 1px solid #f5f5f5;
}
.order-item .product-layer .product-image-container:after{
	content: "";
	display: block;
	padding-bottom: 80px;
}
.order-item .product-layer .product-image-container img{
	position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.order-item .product-layer .product-content{
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
    width: 65%;
}
.order-item .product-layer .product-content a .product-title{
	margin-bottom: 5px;
    margin-top: 5px;
	color: #444;
}
.order-item .product-layer .product-content a:hover{
	text-decoration: none;
}
.order-item .product-layer .product-content a:hover .product-title{
	color: #ff1818;
}
.order-item .product-layer .product-content .info{
    font-weight: 600;
}
.order-item .product-layer .product-content .info label{
	border-right: 1px solid #ddd;
	padding: 0 10px;
}
.order-item .product-layer .product-content .info label:first-child{
	padding-left: 0;
}
.order-item .product-layer .product-content .info label:last-child{
	border-right: 0px solid #ddd;
	padding-right: 0;
}
.order-item .btm-layer{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.delivery-container,
.total-container {
    padding: 15px 30px 20px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
}
.total-container h5 {
    margin: 0 0 10px;
}
.delivery-container .delivery-item{
	margin-top: 15px;
}
.delivery-container .delivery-item i{
	width: 20px;
	text-align: center;
	display: inline-block;
	font-size:14px;
}
.delivery-container .delivery-item .info{
	font-size: .8rem;
    margin-bottom: 0;
    line-height: 1.25;
    color: #858585;
    font-weight: 600;
    display: inline-block;
    width: 88%;
    vertical-align: top;
}
.total-container .list{
	display: table;
	width: 100%;
	margin-top: 15px;
}
.total-container p {
	display: table-cell;
    font-size: .85rem;
    color: #858585;
    font-weight: 600;
}
.total-container p.red {
    color: #ff1818;
}
.total-container p:nth-child(2) {
	text-align: right;
}
.order-top-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 15px;
	-webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.order-top-layer h6{
	margin-bottom: 0;
}
.order-top-layer p{
    font-size: .85rem;
    color: #858585;
	margin-bottom: 0;
}
.order-top-layer .btn-cancel{
    color: #ff1818;
    border-color: #ff1818;
}

@media only screen and (max-width:992px){
	.cart-item-image{
		width: 100px;
	}
}
@media only screen and (max-width:767px){
	.checkout-success{
		text-align: center;
	}
	.checkout-success .checkout-content{
		width: 100%;
    }
    .checkout-form-container{
        flex-direction: column;
    }
}
@media only screen and (max-width:576px){
    .cart-item-image{
        width: 70px;
    }
	.cart-item-subtotal{
		position: relative;
		margin-top: 5px;
		border-top: 1px solid #e6e6e6;
		padding-top: 10px;
		right: 0;
    }
    .cart-item-content{
        width: auto;
		width: calc(100% - 85px);
		margin-left: 10px;
    }
	.total-container .list{
		display: block;
	}
	.total-container p:first-child{
		display: block;
		color: #9a9a9a;
		margin: 0;
		font-weight: normal;
    }
    .item-container .card .card-body{
        padding: 15px;
    }
    .price-layer h5{
        font-size: 16px;
    }
}

/* Modal - Change Address */
.address-box { height: 450px; overflow-y: scroll; }
.address-box a { color: #444; }
.address-box a:hover { text-decoration: none; }
.address-box a:hover .address-item { background-color: #f3f3f3; }
.address-box i.material-icons {
    font-size: 1.5rem;
    vertical-align: top;
    margin-top: 3px;
}
.address-box .address-info .info span {
    display: inline-block;
    width: 90%;
    margin: 3px 0 3px 10px;
}
.address-item {
    border: 1px solid rgba(0,0,0,0.2);
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin-bottom: .5rem;
}
.address-item h4 { padding: 1.5rem; margin-bottom: 0; color: #0099ff; }
.address-label { font-size: .8rem; margin-bottom: .25rem; }
.address-label span { border: 1px solid #ff1818; color: #ff1818; padding: .1rem .5rem; border-radius: .25rem; font-size: .65rem; }
.address-receiver { margin-bottom: .75em; }
.select-address-modal .active { background-color: #f1f9ff; }

.add-address { text-align: center; }
.add-address .topbar { margin-left: 0; }
.add-address input {
    font-size: .75rem;
    padding: .75rem;
    width: 100%;
}
.add-address .btn {
    width: 100%;
}


/* PAYMENT */
.payment-container{ background-color: #FFF; margin-bottom: 20px; box-shadow: 0 0 10px 1px #ddd; }
.payment-container .payment-selector{ border-bottom: 1px solid #e6e6e6; }
.payment-container .payment-selector .selection-list{
    display: inline-block;
    margin-right: -5px;
    border-right: 1px solid #e6e6e6;
    margin-bottom: 0;
    cursor: pointer;
}
.payment-container .payment-selector .selection-list input[type="radio"]{
    position: absolute;
    visibility: hidden;
}
.payment-container .payment-selector .selection-list input[type="radio"] + span{
    display: block;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 500;
}
.payment-container .payment-selector .selection-list input[type="radio"]:checked + span{
    background-color: #F50006;
    color: #FFF;
}
.payment-container .payment-content{
    padding: 20px 30px;
}

.btn-empty{
    background: #fafafa;
    border: 0;
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 20px;
    border: 2px dashed #e6e6e6;
    color: #aaa;
    font-weight: 500;
    font-size: 13px;
}

#payment-card .form-group input{
    display: block;
    height: 50px;
    width: 100%;
    padding: .75rem 1rem;
    font-size: .9rem;
}
#payment-card .form-group label{
    display: block;
}

.card-list { position: relative; display: inline-block!important; }
.card-list input[type="radio"]{ visibility: hidden; position: absolute; }
.card-list .card-content{
    position: relative;
    padding: 25px 20px;
    display: block;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}
.card-list .card-content .list-img{ width: 50px; display: inline-block; margin: 0 20px; vertical-align: middle; }
.card-list .card-content .list-img img{ width: 100%;  }
.card-list .card-content .list-content{ display: inline-block; vertical-align: middle; }
.card-list .card-content .list-content .detail-card-name{ font-size: 13px; font-weight: 500; margin-bottom: 0; color:#8a8a8a;}
.card-list .card-content .list-content .detail-card-no{ font-size: 16px; color: #8a8a8a; margin-bottom: 0;}
.card-list .card-content .list-content .detail-card-expired{ font-size: 12px; color: #c5c5c5; font-weight: 500; margin-bottom: 0; }
.card-list .card-content .list-content .detail-label{
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #ff1818;
    color: #ff1818;
    padding: .1rem .5rem;
    border-radius: .25rem;
    font-size: .65rem;
    margin-bottom: .25rem;
}
.card-list input[type="radio"]:checked + .card-content{ border-color: #F50006; }
.card-list input[type="radio"]:checked + .card-content .list-content .detail-card-name{ color: #000; }
.card-list input[type="radio"]:checked + .card-content .list-content .detail-card-no{ color: #000; }
.card-list input[type="radio"]:checked + .card-content:before{
    content: "check";
    font-family: "Material Icons";
    position: absolute;
    top: 50%;
    left: 10px;
    height: 20px;
    width: 20px;
    margin-top: -10px;
    background: #f50006;
    border-radius: 100%;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}
.add-card-modal { text-align: center; }
.add-card-modal .topbar { margin-left: 0; }
.add-card-modal input {
    font-size: .75rem;
    padding: .75rem;
    width: 100%;
}
.add-card-modal .form-group { text-align: left; margin-bottom: .25rem; }
.add-card-modal .form-group label { font-size: .75rem; text-transform: uppercase; font-weight: bold; color: #858585;}
.add-card-modal .custom-select { font-size: .75rem; border-color: #444444; }
.add-card-modal .btn {
    margin-top: .75rem;
    width: 100%;
}

#payment-bank h6{ font-size: 14px; font-weight: 500; color: #8a8a8a;}
.bank-list  { margin: 0 -5px }
.bank-list .bank-selector { display: inline-block; margin-right: -4px; width: 50%; padding: 0 5px; }
.bank-list .bank-selector input[type="radio"]{ visibility: hidden; position: absolute; }
.bank-list .bank-selector .bank-list-content{
    position: relative;
    padding: 20px 25px 25px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}
.bank-list .bank-selector .bank-list-content .list-img{ width: 50px; display: inline-block; margin: 0 10px;}
.bank-list .bank-selector .bank-list-content .list-img img{ width: 100%; }
.bank-list .bank-selector .bank-list-content .list-content{ display: inline-block; }
.bank-list .bank-selector .bank-list-content .list-content .bank-name{ margin-bottom: 0; font-size: 14px; font-weight: 500; }

.bank-list .bank-selector input[type="radio"]:checked + .bank-list-content{ border-color: #F50006; }
.bank-list .bank-selector input[type="radio"]:checked + .bank-list-content .list-content .bank-name{ color: #000; }
.bank-list .bank-selector input[type="radio"]:checked + .bank-list-content:before{
    content: "check";
    font-family: "Material Icons";
    position: absolute;
    top: 50%;
    left: 10px;
    height: 20px;
    width: 20px;
    margin-top: -10px;
    background: #f50006;
    border-radius: 100%;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}
@media only screen and (max-width:576px){
    .bank-list .bank-selector{ width: 100%; }
}

/* Attribute selection radio button css */
.alert p{ margin-bottom: 0; font-size: 14px; }

.attribute-radio:first-child {
	padding-left: 0;
}
.attribute-radio {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.attribute-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    padding: 5px 10px 5px 10px;
    height: 50px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #ccc;
}

.attribute-radio:hover input ~ .checkmark {
    background-color: #ff1818;
    border: 1px solid rgb(255,24,24);
    color: #fff;
}

.attribute-radio input:checked ~ .checkmark {
    background-color: rgba(255,24,24, 0.5);
    border: 1px solid rgb(255,24,24);
    color: black;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.attribute-radio input:checked ~ .checkmark:after {
    display: block;
}

.form-group .form-control{
    border: 1px solid #a9a9a9;
    font-size: .75rem;
    min-height: 38px;
    border-radius: 4px;
}

.form-check{
    padding-left: 0;
}
.form-check label input[type="checkbox"]{
    visibility: hidden;
}
.form-check label input[type="checkbox"] + span{
    font-size: 13px;
}
.form-check label input[type="checkbox"] + span:before{
    content: "";
    display: inline-block;
    border: 1px solid #aaa;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
}
.form-check label input[type="checkbox"]:checked + span:before{
    content: "";
    background-image: url(../images/icon/icon_checked.png);
    background-position: center;
    background-size: 90%;
    border-color: #000;
}


.btn-red-outline{
    background: transparent;
    border-color: #ff1818;
    color: #ff1818;
    font-weight: bold;
}
.btn-red-outline:hover{
    opacity:0.9;
    background: transparent;
    border-color: #ff1818;
    color: #ff1818;
}
.btn-red-outline:active{
    opacity:1;
    background: transparent;
    border-color: #ff1818;
    color: #ff1818;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

/** SELECT 2 **/
.select2-container .select2-selection--single{
    height: 49px!important;
    border-radius: 0!important;
    border-color: #aaa!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 49px!important;
    line-height: 45px!important;
    font-size: 14px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height:48px!important;
}
.datepicker{
    padding: 0!important;
}

/** RATE & REVIEW **/
.review-panel{
    margin-top: 20px;
    padding: 30px 40px;
    background-color: #FFF;
}
.review-panel:after{
    content: "";
    display: table;
    clear: both;
}
.review-panel .rating{
    width: 25%;
    float: left;
    padding-right: 20px;
    padding-top: 25px;
    border-right: 1px solid #dcdcdc;
}
.review-panel .rating .current-rate{
    text-align: center;
    margin-bottom: 15px;
}
.review-panel .rating .current-rate h2{
    color: #FF1718;
    font-weight: bold;
    margin: 0 0 -5px;
}
.review-panel .rating .current-rate label{
    color: #9a9a9a;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.review-panel .rating .current-rate .stars{
    margin: 0 auto;
}
.stars{
    color: #dcdcdc;
    font-size: 22.7px;
    height: 25px;
    width: 100px;
    position: relative;
    padding: 0;
}
.stars .star-foreground{
    color: #F5A623;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rate-detail .list{
    text-align: center;
}
.rate-detail .list .stars{
    display: inline-block;
}
.rate-detail .list .rate-bar{
    position: relative;
    display: inline-block;
    width: 40%;
    width: calc(90% - 100px);
}
.rate-detail .list .rate-bar .background{
    width: 100%;
    height: 6px;
    background-color: #dcdcdc;
}
.rate-detail .list .rate-bar .foreground{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #F5A623;
}
.rate-detail .list label{
    color: #9a9a9a;
    font-size: 12px;
    margin: 0;
    display: inline-block;
}
.review-panel .review{
    width: 75%;
    float: left;
    padding-left: 20px;
    margin-left: -1px;
    border-left: 1px solid #dcdcdc;
}
.review-panel .review h4{
    font-size: 16px;
    font-weight: bold;
    color: #444;
}
.review-panel .review .pagination{
    text-align: right;
    justify-content: center;
}
.review .list{
    position: relative;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    padding: 15px 20px 20px;
    margin-bottom: 15px;
}
.review .list .stars{
    position: absolute;
    right: 20px;
    top: 12px;
    width: 80px;
    font-size: 18.2px;
}
.review .list .username{
    font-weight: bold;
    font-size: 12px;
    color :#9a9a9a;
}
.review .list .date{
    font-size: 12px;
    color :#9a9a9a;
    margin-bottom: 5px;
}
.review .list p{
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 0;
}

.pagination li a{
    color: #9a9a9a;
}
.pagination li a:hover{
    background-color: transparent;
    color: #FF1718;
}
.pagination .page-item.active .page-link{
    color: #fff;
    background-color: #FF1718;
    border-color: #FF1718;
}

.review-form{
    padding: 20px 30px;
    background-color: #FFF;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin-top: 20px;
}
.review-form:after{
    content: "";
    display: table;
    clear: both;
}
.review-form .title{
    width: 100%;
    font-size: 16px;
    color: #444;
    font-weight: bold;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
    padding-top: 10px;
    clear: both;
    float: left;
}
.review-form .title:first-child{
    padding-top: 0;
    border-top: 0;
    margin-top: 0;
}
.review-form .rating{
    float: left;
    width: 35%;
    border-right: 1px solid #dcdcdc;
    padding-right: 20px;
    padding-top: 20px;
}
.review-form .rating .rate-number{
    display: inline-block;
    vertical-align: bottom;
    color: #9a9a9a;
    font-size: 13px;
    position: relative;
    top: -15px;
    margin-left: 10px;
}
.review-form .review{
    float: left;
    width: 65%;
    margin-left: -1px;
    border-left: 1px solid #dcdcdc;
    padding-left: 20px;
    padding-top: 20px;
}
.review-form .form-group .control-label{
    font-size: 14px;
    color: #9a9a9a;
    display: block;
}
.review-form .form-group .form-control{
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    background-color: #fafafa;
}
.review-form .action .btn-red{
    font-size: 14px;
    padding: 4px 20px;
}
.rating-radio-btn {
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    margin-top: -5px;
}
.rating-radio-btn label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}
.rating-radio-btn label:last-child {
    position: static;
}
.rating-radio-btn label:nth-child(1) {
    z-index: 5;
}
.rating-radio-btn label:nth-child(2) {
    z-index: 4;
}
.rating-radio-btn label:nth-child(3) {
    z-index: 3;
}
.rating-radio-btn label:nth-child(4) {
    z-index: 2;
}
.rating-radio-btn label:nth-child(5) {
    z-index: 1;
}
.rating-radio-btn label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.rating-radio-btn label .icon {
    float: left;
    color: transparent;
}
.rating-radio-btn label:last-child .icon {
    color: #dcdcdc;
}
.rating-radio-btn:not(:hover) label input:checked ~ .icon,
.rating-radio-btn:hover label:hover input ~ .icon {
    color: #F5A623;
}
.rating-radio-btn label input:focus:not(:checked) ~ .icon:last-child {
    color: #dcdcdc;
}
@media only screen and (max-width:992px){
    .rate-detail .list .rate-bar{
        width: 88%;
    }
    .review-form .rating .rating-radio-btn{
        height: 30px;
        line-height: 30px;
        font-size: 30px;
    }
    .review-form .rating .rate-number{
        top: -10px;
    }
}
@media only screen and (max-width:767px){
    .review-panel .rating{
        width: 100%;
        padding-top: 0;
        padding-right: 0;
        border-right: 0;
        padding-bottom: 30px;
        border-bottom: 1px solid #dcdcdc;
    }
    .rate-detail .list .rate-bar{
        width: 60%;
        width: calc(90% - 100px);
    }
    .review-panel .review{
        width: 100%;
        border-left: 0;
        padding-left: 0;
        padding-top: 30px;
    }
    .review-form .rating{
        width: 100%;
        padding-right: 0;
        border-right: 0;
        border-bottom: 1px solid #dcdcdc;
        text-align: center;
    }
    .review-form .rating .rating-radio-btn{
        height: 50px;
        line-height: 50px;
        font-size: 50px;
    }
    .review-form .rating .rate-number{
        display: block;
    }
    .review-form .review{
        width: 100%;
        padding-left: 0;
        border-left: 0;
    }
}
@media only screen and (max-width:480px){
    .review-panel{
        padding: 20px;
    }
    .review .list .stars{
        position: relative;
        right: 0;
        top: 0;
        margin: -8px 0 5px;
    }
    .review-form .rating .rating-radio-btn{
        height: 40px;
        line-height: 40px;
        font-size: 40px;
    }
}

/* #### FILE UPLOAD STYLE ### */
.imageuploadify{
    position: relative;
    border: 1px solid transparent;
    margin-top: 15px;
}
.imageuploadify .imageuploadify-overlay{
    z-index:10;
    width:100%;
    height:100%;
    position:absolute;
    flex-direction:column;
    top:0;
    left:0;
    display:none;
    font-size:7em;
    background-color: rgba(0, 0, 0, 0.4);
    text-align:center;
    pointer-events:none
}
.imageuploadify .imageuploadify-overlay svg{
    display: none!important;
}
.imageuploadify .imageuploadify-overlay i{
    z-index:10;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    pointer-events:none
}
.imageuploadify-images-list:after {
    content: "";
    display: table;
    clear: both;
}
.imageuploadify .imageuploadify-images-list .upload-btn{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    position: relative;
    overflow: hidden;
    float: left;
}
.imageuploadify .imageuploadify-images-list .upload-btn .btn{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    border: 2px dashed #dcdcdc;
    background-image: url(../images/icon/img_upload.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
.imageuploadify .imageuploadify-images-list .upload-btn:after{
    content: "";
    padding-bottom: 100%;
    display: block;
}
.imageuploadify .imageuploadify-images-list span.imageuploadify-message{
    font-size:24px;
    border-top:1px solid #3AA0FF;
    border-bottom:1px solid #3AA0FF;
    padding:10px;
    display:inline-block
}
.imageuploadify .imageuploadify-images-list .imageuploadify-container{
    width:20%;
    position:relative;
    overflow:hidden;
    float: left;
    margin: 0!important;
    border: 1px solid #FFF;
    background-color: #dcdcdc;
}
.imageuploadify .imageuploadify-images-list .imageuploadify-container:after{
    content:"";
    display: block;
    padding-bottom: 100%;
}
.imageuploadify .imageuploadify-images-list .imageuploadify-container button.btn-danger{
    position:absolute;
    top:3px;
    right:3px;
    width:20px;
    height:20px;
    border-radius:15px;
    font-size:10px;
    line-height:1.42;
    padding:2px 0;
    text-align:center;
    z-index:3;
    background-color: #ff0000;
}
.imageuploadify .imageuploadify-images-list .imageuploadify-container img{
    height:100px;
    left:50%;
    position:absolute;
    top:50%;
    transform:translate(-50%,-50%);
    width:auto
}
.imageuploadify .imageuploadify-images-list .imageuploadify-container .imageuploadify-details{
    position: absolute;
    top: 0;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    z-index: 2;
    opacity: 0;
    font-size: 12px;
    text-align: center;
}
.imageuploadify .imageuploadify-images-list .imageuploadify-container .imageuploadify-details span{
    display:block
}
@media only screen and (max-width:992px){
    .imageuploadify .imageuploadify-images-list .upload-btn,
    .imageuploadify .imageuploadify-images-list .imageuploadify-container{
        width: 25%;
    }
}
@media only screen and (max-width:767px){
    .imageuploadify .imageuploadify-images-list .upload-btn,
    .imageuploadify .imageuploadify-images-list .imageuploadify-container{
        width: 20%;
    }
}
@media only screen and (max-width:576px){
    .imageuploadify .imageuploadify-images-list .upload-btn,
    .imageuploadify .imageuploadify-images-list .imageuploadify-container{
        width: 33.33%;
    }
}

/* news */
.section-news{
    padding: 30px 0;
}
.section-news .news{
    background-color: #FFF;
    padding: 30px 40px;
    margin-top: 15px;
}
.section-news .news .list{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dcdcdc;
}
.section-news .news .list:last-child{
    margin-bottom: 0px;
    border-bottom: 0px solid #dcdcdc;
}
.section-news .news .list .thumb{
    vertical-align: top;
    width: 30%;
    display: inline-block;
    margin-right: 15px;
    overflow-y: auto;
    height: 250px;
    overflow: hidden;
}
.section-news .news .list .thumb img{
    width: 100%;
}
.section-news .news .list .news-detail{
    overflow-y: auto;
    height: 180px;
    overflow: hidden;
}
.section-news .news .list .news-detail img.fr-fic{
    display: none;
}
.section-news .news .list .news-summary{
    vertical-align: top;
    width: 65%;
    display: inline-block;
}
.section-news .news .list .news-summary .title{
    font-weight: bold;
    margin-bottom: 10px;
    color: #444;
}
.section-news .news .list .news-summary p{
    font-size: 14px;
    color: #9a9a9a;
    line-height: 1.4;
    margin-bottom: 20px;
}
.section-news .news .list .news-summary .read-more{
    position: relative;
    margin: 30px 40px;
    padding: 8px 20px;
    color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 6px;
    font-size: 14px;
    display: inline-block;
}
.section-news .news .list .news-summary .read-more:hover,
.section-news .news .list .news-summary .read-more:focus,
.section-news .news .list .news-summary .read-more:active{
    background-color: #ff0000;
    color: #FFF;
    text-decoration: none;
}
.section-news .news .list .news-summary .read-more:active{
    top: 1px;
}

.section-news .news-detail{
    background-color: #FFF;
    padding: 30px 40px;
}
.section-news .news-detail .news-img{
    text-align: center;
}
.section-news .news-detail .news-img img{
    max-width: 100%;
}
.section-news .news-detail .title{
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 10px;
    color: #444;
}

.section-news .news-detail p{
    font-size: 14px;
}
@media only screen and (max-width:767px){
    .section-news .news .list .thumb{
        margin-bottom: 15px;
        margin-right: 0;
        width: 100%;
    }
    .section-news .news .list .news-summary{
        width: 100%;
    }
}
@media only screen and (max-width:480px){
    .section-news .news {
        padding: 0px;
    }
    .section-news .news-detail{
        padding: 0px;
    }
    .section-news .news .list .news-summary .read-more{
        margin: 20px 0;
    }
}