/* adds some margin below the link sets  */
.navbar .dd-big div[class*="col"] {
    margin-bottom:1rem;
 }
 
 .navbar .dd-big {
   border:none;
   /* background-color:#0060c8!important; */
   background-color: #444!important;
 }
 
 /* breakpoint and up - mega dropdown styles */
 @media screen and (min-width: 768px) {
   
   /* remove the padding from the navbar so the dropdown hover state is not broken */
 .navbar {
   padding-top:0px;
   padding-bottom:0px;
 }
 
 /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */

 
 /* makes the dropdown full width  */
 .navbar .dd {position:static;}
 
 .navbar .dd-big {
   width:100%;
   left:0;
   right:0;
 /*  height of nav-item  */
   top: 88px;
   border-radius: 0;
 }
   
   /* shows the dropdown menu on hover */
 .navbar .dd:hover .dd-big, .navbar .dd .dd-big:hover {
   display:block!important;
 }
   
   .navbar .dd-big {
     /* border: 1px solid rgba(0,0,0,.15); */
     border: 0;
     background-color: #fff;
   }
 
 }
 
 