/*=====================================================================*/
/*=====================================================================*/
/* THIS IS THE MASTER PAGE FOR EVERY PAGES WITH SAME HEADER AND FOOTER */
/*=====================================================================*/
/*=====================================================================*/
#header a:hover, #footer a:hover {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


#header .navbar-zona { }

#header, #header .navbar-zona, #header a, #header input, .navbar-header-1, .navbar-header-2,
.navbar-header-1 a, .navbar-header-2 a, .box1 {
    font-weight: 600;
}

#header:after{content: ""; display: table; clear: both; }
#header{ height: auto; position: relative; border-bottom: 1px solid #e6e6e6;}
#header .zona-logo{ width: 110px; display: inline-block; }
#header .zona-logo img{ width: 100%; }
#header ul{ list-style: none; padding: 0; margin: 0; }
#header ul li{ display: inline-block; }
#header ul li a{ display: block;font-size: 12px; text-transform: uppercase; color: #858585; }
#header ul li.active a{ display: block;font-size: 12px; text-transform: uppercase; color: #F50006; }
#header #navb .menu-title{ display:none;}
#header .navbar-primary > li > a{padding: 35px 10px;}
#header .navbar-primary li a:hover{ color: #F50006; text-decoration: none; }
#header .navbar-primary li.category-expand{ position:static; }

#header .navbar-primary li.category-expand .dropdown-menu div[class*="col"] { margin-bottom:1rem; }
#header .navbar-primary li.category-expand .dropdown-menu { border:none; background-color: #444; }
#navb .navbar-primary li.category-expand .dropdown-menu .menu-back-toggler{display: none;}
@media screen and (min-width: 993px) {
	#header .navbar-primary li.category-expand .dropdown-menu {
		transform: translate3d(0px, 0px, 0px)!important;
		display: block;
		margin: 0;
		width:100%;
		left:0;
		right:0;
		top: 90px!important;
		border-radius: 0;
		visibility: hidden;
		transition-delay: .2s;
	}
	#header .navbar-primary li.category-expand:hover .dropdown-menu{ visibility: visible; transition-delay: .2s; }
	#header .navbar-primary li.category-expand .dropdown-menu .wide-menu{ padding: 30px 0;}
	#header .navbar-primary li.category-expand .dropdown-menu .wide-menu:after{ content: ""; display: table; clear: both;}
	#header .navbar-primary li.category-expand .dropdown-menu .wide-menu .box1{ float: left; width: 16.66%;}
	#header .navbar-primary li.category-expand .dropdown-menu .wide-menu .box1 h6{ position: relative; color: #FFF; text-transform: uppercase;}
	#header .navbar-primary li.category-expand .dropdown-menu .wide-menu .box1 h6:after{ content: ""; width: 20px; height: 2px; border-radius: 3px; background-color: #F50006; position: absolute; left: 0; bottom: -8px;}
	#header .navbar-primary li.category-expand .dropdown-menu .wide-menu .box1 ul li a{ text-transform: capitalize; font-size: 13px; color: #aaa; padding: 3px 0;}
	#header .navbar-primary li.category-expand .dropdown-menu .wide-menu .box1 ul li a:hover{ color: #F50006;}
}

#header .navbar-toggler{ display: none; border: 1px solid rgba(0,0,0,0.15); }
#header .navbar-toggler span{ position:relative; height: 2px; width: 18px; background-color: #000; }
#header .navbar-toggler span:before{ 
    content: "";
    height: 2px;
    width: 18px;
    position: absolute;
    top: -5px;
    left: 0;
    background-color: #000;
}
#header .navbar-toggler span:after{ 
    content: "";
    height: 2px;
    width: 18px;
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: #000;
}

#header #navb,
#header .navbar-secondary,
#header .navbar-auth{ display: inline-block; }
#header #navb{ padding-left: 20px; }

#header .nav-others{ width: 50%; display: inline-block; text-align: right; float: right; padding: 0;}
#header .form-inline{ width: 50%; display: inline-block; position: relative; }
span.twitter-typeahead{display:block!important;}
#header .form-inline .form-control{ width: 100%; height: 40px;
    vertical-align: middle!important; background-color: #f5f5f5!important; border: 1px solid #ebebeb; font-size: .75rem; }
#header .form-inline .close-search{ display: none; }
#header .form-inline button{
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid #ebebeb;
	border-left: 0;
	background-color: #f5f5f5;
	outline: 0;
	height: 100%;
	border-radius: 0 4px 4px 0;
}
#header .form-inline button img{ height: 60%; }

#header .navbar-secondary{ padding-left: 5px; }
#header .navbar-secondary li a{ padding: 34px 10px; position: relative; }
#header .navbar-secondary li a img{ width: 24px; }
#header .navbar-secondary li a .notice{ height: 6px; width: 6px; background-color: #F50006; border-radius: 100%; position: absolute;  right: 5px; top: 35px;}
#header .navbar-secondary li.search-toggler, #header .navbar-auth li.search-toggler{ display: none; }
#header .navbar-secondary li .dropdown-menu{ right: 0; top: 0; padding: 5px 0; margin: 0; background-color: #444; min-width: 200px; border-radius: 0; }
#header .navbar-secondary li .dropdown-menu a{  font-size: 16px; padding: 4px 25px; text-transform: capitalize; font-weight: normal; color:#FFF;}
#header .navbar-secondary li .dropdown-menu a:focus,
#header .navbar-secondary li .dropdown-menu a:hover{ background: #F50006; color:#FFF; }
#header .navbar-secondary li .dropdown-menu .dropdown-divider{ border-color: rgba(255, 255, 255, 0.25) }

#header .navbar-auth li{ margin-left: 10px; padding: 28px 0; }
#header .navbar-auth li a{ border: 1px solid #e6e6e6; }
#header .navbar-auth li a:hover{ border: 1px solid #F50006; color: #F50006 }
#header .navbar-auth li.search-toggler a { border:0; position: relative; top: -3px; }
#header .navbar-auth li.search-toggler a img{ width: 24px; }

@media only screen and (max-width:1200px){
	#header .nav-others{ width: 50%; }
	#header .form-inline{ width: 50%; }
}
@media only screen and (max-width:992px){
	#header .zona-logo{ width: 15%; padding: 20px 0;  margin-left: 5%;}
	#header .nav-others{ width: 80%; padding: 0; }
	#header .form-inline{ width: 62%; display: inline-block; }
	#header .navbar-secondary{ padding-left: 10px; }
	#header .navbar-secondary li a{ padding: 25px 10px; }
	#header .navbar-secondary li a .notice{ top: 25px; }
	#header .navbar-auth li{ padding: 22px 0; }
	
	#header .navbar-toggler{ display: inline-block; position: absolute; left: 5px; top: 18px; padding: 3px 8px 10px;}
	
	#navb{ position: fixed; z-index: 100; top: 0; bottom: 0; left: 0; background-color: #FFF; width: 50%; transform: translateX(-100%); -webkit-transform: translateX(-100%); opacity: 0; visibility: hidden; transition: all .5s ease-out; -webkit-transition: all .5s ease-out;}
	#navb.visible{ opacity: 1; visibility: visible; transform: translateX(0%); -webkit-transform: translateX(0%);}
	.nav-backdrop{ position: fixed; z-index: 99; top: 0; bottom: 0; right: 0; left: 0; background-color: rgba(0,0,0,0.6); opacity: 0; visibility: hidden;}
	.nav-backdrop.visible{ opacity: 1; visibility: visible;}
	#navb ul{ padding: 10px 0; list-style: none; margin: 0;}
	#navb ul li a{ display: block; padding: 8px 30px; text-transform: uppercase; color: #231F20; font-size: 14px;}
	#navb .navbar-primary{ padding: 10px 30px;}
	#navb .navbar-primary li a{ border-bottom: 1px solid #e6e6e6; padding: 12px 0; font-size: 14px; font-weight: 600;}
	#navb .navbar-primary li a.dropdown-toggle::after{ border-left: .3em solid; border-bottom: .3em solid transparent;  border-right: 0; border-top: .3em solid transparent; float: right; margin: 5px 15px;}
	#navb .menu-title{ background: #F50006; padding: 15px 30px; color: #FFF; text-transform: uppercase;font-weight: bold;}
	
	#navb .navbar-primary li.category-expand .dropdown-menu {
		position: fixed!important;
		top: 0;
		left: 0;
		width: 100%;
		-webkit-transform: translateX(0%)!important;
		transform: translateX(0%)!important;
		height: 100%;
		padding: 0;
		overflow: auto;
		margin: 0;
		border-radius: 0;
		border: 0;
	}
	#navb .navbar-primary li.category-expand .dropdown-menu .menu-back-toggler{ display: block; background: #F50006; padding: 15px 30px; color: #FFF; text-transform: uppercase;font-weight: bold;}
	#navb .navbar-primary li.category-expand .dropdown-menu .menu-back-toggler:before{content: ""; border-right: .3em solid; border-bottom: .3em solid transparent;  border-left: 0; border-top: .3em solid transparent; display: inline-block; margin-right: 8px;}
	#navb .navbar-primary li.category-expand .dropdown-menu .container{ padding: 10px 30px;}
	#navb .navbar-primary li.category-expand .dropdown-menu .box1 { padding-right: 0;}
	#navb .navbar-primary li.category-expand .dropdown-menu .box1 h6 { text-transform: capitalize; margin: 0;}
	#navb .navbar-primary li.category-expand .dropdown-menu .box1 h6:after { content: ""; border-top: .3em solid; border-left: .2em solid transparent;  border-bottom: 0; border-right: .2em solid transparent; display: inline-block; float: right; margin: 8px 12px; }
	#navb .navbar-primary li.category-expand .dropdown-menu .box1 ul { padding: 6px 0; background-color: #fafafa; display: none; margin:0 -30px; }	
	#navb .navbar-primary li.category-expand .dropdown-menu .box1.show ul {display: block;}
	#navb .navbar-primary li.category-expand .dropdown-menu .box1 ul li a { text-transform: capitalize; padding: 6px 35px; border: 0; font-size: 15px;}
	
	#navb .navbar-primary li.category-expand .dropdown-menu .wide-menu .row{display:block;}
	#navb .navbar-primary li.category-expand .dropdown-menu .box1{ max-width: 100%;}
}
@media only screen and (max-width:767px){
	#header .container{ padding: 0 5px; }
	#header .zona-logo{ padding: 16px 0; width: 100px; margin-left: 40px;}
	#header .nav-others{ width: auto; }
	#header .navbar-toggler{ border: 0; top: 13px;}
	#header .navbar-secondary li.search-toggler, #header .navbar-auth li.search-toggler{ display: inline-block; }
	#header .navbar-secondary li a { padding: 16px 10px; }
	#header .navbar-secondary li a .notice{ top: 16px; }
	#header .navbar-auth li{ margin-left: 5px; padding: 12px 0; }
	#header .form-inline{ position: absolute; z-index: 1; left: 0; right: 0; top: 0; bottom: 0; width: 100%; display: none; }
	#header .form-inline.visible{ display: block;  }
	#header .form-inline .form-control{ height: 100%; padding-left: 40px; }
	#header .form-inline button{ padding: 0 10px; }
	#header .form-inline button img{ height: 50%; }
	#header .form-inline .close-search{ display: inline-block; color:#000; position: absolute; left: 10px; top: 32%; }
}
@media only screen and (max-width:480px){
	#header .zona-logo{ width: 70px; margin-left: 35px;}
	#header .navbar-secondary li a{ padding: 16px 8px; }
	#header .navbar-secondary li a img{ width: 20px; }
	#header .navbar-auth li.search-toggler a img { width: 20px; }
	#header .navbar-secondary .language-dropdown {display: none;}
	#navb{ width:75%; }
}


/* FOOTER PART */
.footer-container{display: flex;}
.subscribe-container { width: 400px; }
.contact-container { width: 400px; padding-right: 100px; }
.sitemap-1 {width: 250px; padding-right: 100px; }
.sitemap-2 {width: 150px;}
.contact-container p, .sitemap-1 p, .sitemap-2 p { margin-bottom: 6px; }
.contact-container a, .sitemap-1 a, .sitemap-2 a { color: white; }
.contact-container a:hover, .sitemap-1 a:hover, .sitemap-2 a:hover { color: #ff1818; }
.footer-container-2 { padding: 10px 0;}
.footer-container-2 .container:after{ content: ""; display: table; clear: both; }
.footer-container-2 .container .copy-container{ float: left; }
.footer-container-2 .container .social-container{ float: right; }
.footer-container-2 .container .social-container ul{ list-style: none; padding: 0; margin: 0; }
.footer-container-2 .container .social-container ul li{ display: inline-block; }
.footer-container-2 .container .social-container ul li a{ color: #fff; display: block; padding: 0 5px; }
.social-container a:hover { color: #444; }
.social-container .fab { font-size: 1.5rem; }

.navbar-nav > .nav-item > a.nav-link{ padding: .5rem 1rem!important; }
.navbar-nav.navbar-header-2 > .nav-item > a.nav-link{ padding: .2rem .7rem .1rem!important; }

@media only screen and (max-width:1200px){
	.navbar .nav-item > a.nav-link{ padding-left: 0!important; }
}

@media only screen and (max-width:992px){
	.container { max-width: 100%; }
	.footer-container{display: block;}
	.subscribe-container { width: 100%; padding-bottom: 20px}
	.contact-container { width: 100%; padding-right: 0px;  padding-bottom: 20px}
	.sitemap-1 {width: 100%; padding-right: 0px;  padding-bottom: 20px}
	.sitemap-2 {width: 100%;}
}

