.main-content-container{
	width: 100%;
}

.card .card-header{
	border: 1px solid #e6e6e6;
    font-size: 14px;
    padding: 12px 20px;
}
.top-layer p{
	font-size: 13px;
}
.product-layer{
	padding: 10px; border: 1px solid #e6e6e6;
	margin: 10px 0;
}
.product-layer .product-image,
.product-layer .product-content{
	display: inline-block;
	vertical-align: middle;
}
.product-layer .product-content .product-title{
	font-size: 14px;
}
.product-layer .info{
	font-size: 12px;
}
.schedule-layer .schedule-titlebar h5{
	font-size: 20px;
}

.form-item label{
	font-weight: 500;
	font-size: 12px;
	color: #858585;
}
.form-item .custom-input input{
	font-size: 14px;
}
.custom-radio-input label.btn-default{
	background-color: #FFF;
}
.custom-radio-input label.btn-danger{
	background-color:#FF1919;
	color: #FFF;
}
.form-group label,
.form-group .control-label{
	font-weight: 500;
    font-size: 12px;
    color: #858585;
}
.form-group .form-control{
	border: 1px solid #a9a9a9;
    height: 42px;
	border-radius: 0;
	color: #676a6c;
}

.input-group{
	position: relative;
}
.input-group button{
	position: absolute;
	z-index: 3;
	right: 0;
	top: 0;
	height: 100%;
}
.order-top-layer{
	display: block;
}
.order-top-layer h6{
    font-size: 14px;
    font-weight: bold;
}
.order-top-layer p{
	font-size: 13px;
}
.order-item .top-layer{
	display: block;
}
.order-item .top-layer p{
	font-size: 13px;
}
.input-group.date .form-control{
	font-size: 14px;
    padding: .85rem 1rem;
    min-height: 40px;
}