
/*!
 * jQuery simple gallery Plugin 1.1.0
 *
 * http://fernandomoreiraweb.com/
 *
 * Copyright 2013 Fernando Moreira
 * Released under the MIT license:
 *   http://mit.fernandomoreiraweb.com/
 */


 .simplegallery {
  margin: 0 auto;
  /* width: 417px; */
  width: 100%;
  overflow: hidden;
}

.simplegallery .content {
  background: #fff; /* #ebebeb */
  position: relative;
  /* width: 418px; */
  width: auto;
  overflow: hidden;
  /* border: 1px solid #9c9c9c; */
  text-align: center;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #dcdcdc;
}

.simplegallery .content img {
  max-width: 100%;
  /* border: 1px solid #9c9c9c;
  max-width: 100%;
  width: auto;
  margin: 0 auto; */
}

.simplegallery .thumbnail {
  margin-top: 10px;
  height: auto;
  /* border: 1px solid #ddd; */
}

.simplegallery .thumbnail .thumb {
  /* float: left; */
  width: 18%;
  height: auto;
  margin: 0;
  cursor: pointer;
  background-color: #ebebeb;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.simplegallery .thumbnail .thumb:after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.simplegallery .thumbnail .thumb-empty { 
  width: 18%;
  height: auto;
  margin: 0;
  /* cursor: pointer; */
  background-color: #ffffff;
}

.simplegallery .thumbnail .thumb img {
  /* border: 1px solid #9c9c9c; */
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  max-width: initial;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.simplegallery .thumbnail .last { margin: 0; }
