/**
Chat conversation: use in complain module as for now
 */
.complain-container .ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.complain-container .ibox .message-body {
    font-size: 12px;
    color: #888888 !important;
}

.complain-container .ibox.collapsed .ibox-content {
    display: none;
}
.complain-container .ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}
.complain-container .ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}
.complain-container .ibox:after,
.complain-container .ibox:before {
    display: table;
}
.complain-container .ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 7px;
    min-height: 48px;
}
.complain-container .ibox-title .time {
    font-size: 10px;
    font-style: italic;
    color: #888888;
}
.complain-container .ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.complain-container .ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}
.complain-container .float-e-margins .btn {
    margin-bottom: 5px;
}
.complain-container .ibox-content h1,
.complain-container .ibox-content h2,
.complain-container .ibox-content h3,
.complain-container .ibox-content h4,
.complain-container .ibox-content h5,
.complain-container .ibox-title h1,
.complain-container .ibox-title h2,
.complain-container .ibox-title h3,
.complain-container .ibox-title h4,
.complain-container .ibox-title h5 {
    margin-top: 5px;
}
.complain-container .ibox-content.text-box {
    padding-bottom: 0;
    padding-top: 15px;
}
.complain-container .ui-draggable .ibox-title {
    cursor: move;
}
.complain-container .ibox-content {
    clear: both;
}
.complain-container .ibox-heading {
    background-color: #f3f6fb;
    border-bottom: none;
}
.complain-container .ibox-heading h3 {
    font-weight: 200;
    font-size: 24px;
}
.complain-container .ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}
.complain-container .ibox-title .label {
    float: left;
    margin-left: 4px;
}
.complain-container .ibox-tools {
    display: block;
    float: none;
    margin-top: 0;
    position: relative;
    padding: 0;
    text-align: right;
}
.complain-container .ibox-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #c4c4c4;
}
.complain-container .ibox-tools a.btn-primary {
    color: #fff;
}
.complain-container .ibox-tools .dropdown-menu > li > a {
    padding: 4px 10px;
    font-size: 12px;
}
.complain-container .ibox .ibox-tools.open > .dropdown-menu {
    left: auto;
    right: 0;
}
.complain-container .ibox.fullscreen {
    z-index: 2030;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    margin-bottom: 0;
}
.complain-container .ibox.fullscreen .collapse-link {
    display: none;
}
.complain-container .ibox.fullscreen .ibox-content {
    min-height: calc(100% - 48px);
}
.complain-container .feed-activity-list .feed-element {
    border-bottom: 1px solid #e7eaec;
}
.complain-container .feed-element:first-child {
    margin-top: 0;
}
.complain-container .feed-element {
    padding-bottom: 15px;
}
.complain-container .feed-element,
.complain-container .feed-element .media {
    margin-top: 15px;
}
.complain-container .feed-element,
.complain-container .media-body {
    overflow: hidden;
}
.complain-container .feed-element > .pull-left {
    margin-right: 10px;
}
.complain-container .feed-element img.img-circle,
.complain-container .dropdown-messages-box img.img-circle {
    width: 38px;
    height: 38px;
}
.complain-container .feed-element .well {
    border: 1px solid #e7eaec;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 16px;
}
.complain-container .feed-element .actions {
    margin-top: 10px;
}
.complain-container .feed-element .photos {
    margin: 10px 0;
}
.complain-container .label-warning-light,
.complain-container .badge-warning-light {
    background-color: #f8ac59;
    color: #ffffff;
}
.complain-container .feed-element > a img {
    margin-right: 10px;
}

/*.ibox-content .message-body {*/
/*margin-top: 10px;*/
/*}*/

.complain-container .ibox-content.bg-grey {
    background-color: #f9f9f9 !important;
}

.complain-container .ibox-content.bg-white {
    background-color: #ffffff !important;
}
.complain-container .ibox .rounded-char-admin {
    width: 34px;
    height: 34px;
    background: rgb(219,30,29);
    display: block;
    text-align: center;
    line-height: 32px;
    color: #fff;
}

.complain-container .ibox .rounded-char-merchant {
    width: 34px;
    height: 34px;
    background: rgb(192, 149, 35);
    display: block;
    text-align: center;
    line-height: 32px;
    color: #fff;
}

.complain-container .ibox-content.scrollable {
    overflow: scroll;
    height: 500px;
}

.complain-container .border {
    border: 1px solid #dee2e6 !important;
}

.complain-container .rounded-circle {
    border-radius: 50% !important;
}

.complain-container .border-0 {
    border: 0 !important;
}

.complain-container .px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.complain-container .pb-3 {
    padding-bottom: 1rem !important;
}

.complain-container .sub-heading {
    font-size: 14px;
    color: #8a8a8a;
    font-weight: 600;
    margin: 15px 0 5px;
}

.complain-container .float-right {
    float: right !important;
}

.complain-container .float-left {
    float: left !important;
}

.complain-container h5, .h5 {
    font-size: 1.25rem;
}

.complain-container .d-none {
    display: none !important;
}

.complain-container .mt-2 {
    margin-top: 0.5rem !important;
}

.complain-container .p-1 {
    padding: 0.25rem !important;
}

.complain-container .time-user {
    margin-top: -10px;
}

@media (min-width: 576px) {
    .complain-container .mt-sm-0, .complain-container .my-sm-0 {
        margin-top: 0 !important;
    }
    .complain-container .time-user {
        margin-top: 0;
    }
}
/**
End ibox complain container module.
 */

.f-black {
    color: #444444 !important;
}