/** RATE & REVIEW **/
.review-panel{
    margin-top: 20px;
    /* padding: 30px 40px; */
    background-color: #FFF;
}
.review-panel:after{
    content: "";
    display: table;
    clear: both;
}
.review-panel .rating{
    width: 25%;
    float: left;
    padding-right: 20px;
    padding-top: 25px;
    border-right: 1px solid #dcdcdc;
}
.review-panel .rating .current-rate{
    text-align: center;
    margin-bottom: 15px;
}
.review-panel .rating .current-rate h2{
    color: #FF1718;
    font-weight: bold;
    margin: 0 0 -5px;
}
.review-panel .rating .current-rate label{
    color: #9a9a9a;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.review-panel .rating .current-rate .stars{
    margin: 0 auto;
}
.stars {
    color: #dcdcdc;
    font-size: 24px;
    height: 25px;
    width: 100px;
    position: relative;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.stars .star-foreground{
    color: #F5A623;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rate-detail .list{
    text-align: center;
}
.rate-detail .list .stars{
    display: inline-block;
}
.rate-detail .list .rate-bar{
    position: relative;
    display: inline-block;
    width: 40%;
    width: calc(90% - 100px);
}
.rate-detail .list .rate-bar .background{
    width: 100%;
    height: 6px;
    background-color: #dcdcdc;
}
.rate-detail .list .rate-bar .foreground{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #F5A623;
}
.rate-detail .list label{
    color: #9a9a9a;
    font-size: 12px;
    margin: 0;
    display: inline-block;
}
.review-panel .review{
    width: 75%;
    float: left;
    padding-left: 20px;
    margin-left: -1px;
    border-left: 1px solid #dcdcdc;
}
.review-panel .review h4{
    font-size: 16px;
    font-weight: bold;
    color: #444;
}
.review-panel .review .pagination{
    text-align: right;
    justify-content: center;
}
.review .list{
    position: relative;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    padding: 15px 20px 20px;
    margin-bottom: 15px;
}
.review .list .stars{
    position: absolute;
    right: 20px;
    top: 12px;
    width: 80px;
    font-size: 18.2px;
}
.review .list .username{
    font-weight: bold;
    font-size: 12px;
    color :#9a9a9a;
}
.review .list .date{
    font-size: 12px;
    color :#9a9a9a;
    margin-bottom: 5px;
}
.review .list p{
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 0;
}

.review-form{
    padding: 20px 30px;
    background-color: #FFF;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin-top: 20px;
}
.review-form:after{
    content: "";
    display: table;
    clear: both;
}
.review-form .title{
    width: 100%;
    font-size: 16px;
    color: #444;
    font-weight: bold;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
    padding-top: 10px;
    clear: both;
    float: left;
}
.review-form .title:first-child{
    padding-top: 0;
    border-top: 0;
    margin-top: 0;
}
.review-form .rating{
    float: left;
    width: 35%;
    border-right: 1px solid #dcdcdc;
    padding-right: 20px;
    padding-top: 20px;
}
.review-form .rating .rate-number{
    display: inline-block;
    vertical-align: bottom;
    color: #9a9a9a;
    font-size: 13px;
    position: relative;
    top: -15px;
    margin-left: 10px;
}
.review-form .review{
    float: left;
    width: 65%;
    margin-left: -1px;
    border-left: 1px solid #dcdcdc;
    padding-left: 20px;
    padding-top: 20px;
}
.review-form .form-group .control-label{
    font-size: 14px;
    color: #9a9a9a;
    display: block;
}
.review-form .form-group .form-control{
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    background-color: #fafafa;
}
.review-form .action .btn-red{
    font-size: 14px;
    padding: 4px 20px;
}
.rating-radio-btn {
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    margin-top: -5px;
}
.rating-radio-btn label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}
.rating-radio-btn label:last-child {
    position: static;
}
.rating-radio-btn label:nth-child(1) {
    z-index: 5;
}
.rating-radio-btn label:nth-child(2) {
    z-index: 4;
}
.rating-radio-btn label:nth-child(3) {
    z-index: 3;
}
.rating-radio-btn label:nth-child(4) {
    z-index: 2;
}
.rating-radio-btn label:nth-child(5) {
    z-index: 1;
}
.rating-radio-btn label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.rating-radio-btn label .icon {
    float: left;
    color: transparent;
}
.rating-radio-btn label:last-child .icon {
    color: #dcdcdc;
}
.rating-radio-btn:not(:hover) label input:checked ~ .icon,
.rating-radio-btn:hover label:hover input ~ .icon {
    color: #F5A623;
}
.rating-radio-btn label input:focus:not(:checked) ~ .icon:last-child {
    color: #dcdcdc;
}
@media only screen and (max-width:992px){
    .rate-detail .list .rate-bar{
        width: 88%;
    }
    .review-form .rating .rating-radio-btn{
        height: 30px;
        line-height: 30px;
        font-size: 30px;
    }
    .review-form .rating .rate-number{
        top: -10px;
    }
}
@media only screen and (max-width:767px){
    .review-panel .rating{
        width: 100%;
        padding-top: 0;
        padding-right: 0;
        border-right: 0;
        padding-bottom: 30px;
        border-bottom: 1px solid #dcdcdc;
    }
    .rate-detail .list .rate-bar{
        width: 60%;
        width: calc(90% - 100px);
    }
    .review-panel .review{
        width: 100%;
        border-left: 0;
        padding-left: 0;
        padding-top: 30px;
    }
    .review-form .rating{
        width: 100%;
        padding-right: 0;
        border-right: 0;
        border-bottom: 1px solid #dcdcdc;
        text-align: center;
    }
    .review-form .rating .rating-radio-btn{
        height: 50px;
        line-height: 50px;
        font-size: 50px;
    }
    .review-form .rating .rate-number{
        display: block;
    }
    .review-form .review{
        width: 100%;
        padding-left: 0;
        border-left: 0;
    }
}
@media only screen and (max-width:480px){
    .review-panel{
        padding: 20px;
    }
    .review .list .stars{
        position: relative;
        right: 0;
        top: 0;
        margin: -8px 0 5px;
    }
    .review-form .rating .rating-radio-btn{
        height: 40px;
        line-height: 40px;
        font-size: 40px;
    }
}
